{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'booking-title'|trans }}</h1>

            </div>

        </div>

    </section>

	<script>
	window.addEventListener('message', function(e) {
	  var $iframe = jQuery("iframe.boeken");
	  var eventName = e.data[0];
	  var data = e.data[1];
	  switch(eventName) {
	    case 'setHeight':
	      $iframe.height(data);
	      break;
	  }
	}, false);

	</script>

    <iframe src="http://old.chalet.nl/boeken-iframe/boeken-iframe.php?tid={{ tid }}" class="boeken" scrolling="no" frameborder="0"></iframe>

{% endblock body %}