/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.DS_Store
.composer

# Node modules, for less compile
/node_modules/

# Old website
/web/chalet
/web/seo_laden.php

# Tests
tests/_output/*

# cache
/web/media/cache/
