/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/*
!/bin/import-autocomplete
/composer.phar
/vendor/
/web/bundles/*
!/web/bundles/app/
!web/bundles/app/*
.DS_Store
.composer
.htaccess
.tm_properties
.vimrc
/logs/*
src/AppBundle/Resources/assets/css/*.css

# python settings
subapps/python/import-autocomplete/settings.py
*.pyc

# Node modules, for less compile
/node_modules/

# Old website
/web/chalet
/web/seo_laden.php

# Tests
tests/_output/*

# cache
/web/media/cache/

# old classes
/src/old-classes

# assetic dumps
/web/static

# push file
/github-push.txt

# git submodule ignore
old-app/ 
