<strong>Standaard annuleringsverzekering</strong>
<p>Met de standaard annuleringsverzekering van de Europeesche ben je goed verzekerd als je je reis moet annuleren. Naast de kosten van de annulering zijn ook de kosten van de ongebruikte reisdagen verzekerd. De premie is 5,5% van de reissom (+ 21% assurantiebelasting = 6,65%).</p>

<strong>Allrisk-annuleringsverzekering</strong>
<p>Wanneer je de allrisk-annuleringsverzekering afsluit, kun je  niet alleen een beroep doen op de annuleringsredenen die in de voorwaarden van de standaard verzekering staan, maar mag je zelf bepalen om welke reden je niet op vakantie wilt. Bijvoorbeeld omdat je beste vriend(in) ernstig ziek wordt, of als je toch die nieuwe baan of opdracht krijgt en snel moet beginnen. Je krijgt voor deze extra annuleringsredenen dan 75% van je annuleringskosten vergoed. Raadpleeg de voorwaarden voor de uitzonderingen. De premie is 7,0% van de reissom (+ 21% assurantiebelasting = 8,45%).</p>

<p>Een annuleringsverzekering moet binnen 7 dagen na boeking worden afgesloten.</p>
{% if insurances is not defined %}
    <p>Wanneer je &eacute;&eacute;n of meerdere verzekering(en) via ons afsluit wordt er &eacute;&eacute;nmalig &euro; 3,75 poliskosten in rekening gebracht.</p>
{% endif %}

<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <i class="icon icon-pdf"></i>
        </td>
        <td>
            <a href="{{ pdf_link('pdf/voorwaarden_europeesche_annverz.pdf') }}" data-role="new-window">Voorwaarden Europeesche Verzekeringen Annuleringsverzekering</a>
        </td>
    </tr>
</table>