{% extends 'layouts/base.html.twig' %}

{% block bodyClass %}landing-page{% endblock %}
{% block body %}

    <!-- header -->
    <header class="not-home">
        <div class="header-space"></div>
        {% include 'partials/menu.html.twig' %}
    </header>

    <!--breadcrumbs -->
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            {% block breadcrumbs %}{% endblock breadcrumbs %}
        </div>
    </div>

{% endblock %}