<!-- content -->
<section id="results-selected">
    <div class="row">
        <div class="large-12 columns">
            <h2>{{ "homepage.highlights"|trans }}</h2>
        </div>
    </div>
    <div{% if fix_blocks|default(false) == true %} class="row hide-on-load" data-role="fix-blocks"{% else %} class="row"{% endif %} data-equalizer>
        {% for highlight in highlights %}
            {% include 'partials/highlight/highlight.html.twig' with {'highlight': highlight, 'place': highlight.type.accommodation.place, 'end': ( ((loop.index % 3) is same as(0)) or loop.last ), offers: offers } only %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="large-12 centered columns">
            <a href="{{ locale_path('search') }}" class="button small radius" title="Bekijk het gehele aanbod">Bekijk het gehele aanbod</a>
        </div>
    </div>
</section>