<section id="themes-selected">
    <div class="row">
        {% if homepageBlocks['left'] is not empty %}

            {% for leftBlock in homepageBlocks['left'] %}

                <div class="large-6 medium-6 columns big">
                    {% include 'partials/homepage_block/block.html.twig' with { 'homepageBlock': leftBlock } only %}
                </div>

            {% endfor %}

        {% endif %}
        {% if homepageBlocks['right'] is not empty %}
        <div class="large-6 medium-6 columns small">

            <div class="row">

                {% for rightBlock in homepageBlocks['right'] %}

                    <div class="large-12 columns">
                        {% include 'partials/homepage_block/block.html.twig' with { 'homepageBlock': rightBlock } only %}
                    </div>

                {% endfor %}

            </div>

        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="large-12 centered columns">
            <a href="{{ locale_path('themes') }}" class="button small radius" title="Meer inspiratie">Meer inspiratie</a>
        </div>
    </div>
</section>