<section id="themes-selected">

    <div class="row" data-equalizer>

        {% if homepageBlocks['left'] is not empty %}

            <div class="large-6 columns large-column" data-equalizer-watch>
                {% include 'partials/homepage_block/block.html.twig' with { 'homepageBlock': homepageBlocks['left']|first } only %}
            </div>

        {% endif %}

        {% if homepageBlocks['right'] is not empty %}

            <div class="large-6 columns large-column end" data-equalizer-watch>

                {% set rightBlocks = homepageBlocks['right']|slice(0, 2) %}
                {% for rightBlock in rightBlocks %}
                    <div class="row small-column{%  if loop.last %} align-bottom{% endif %}">
                        <div class="large-12 columns end">
                            {% include 'partials/homepage_block/block.html.twig' with { 'homepageBlock': rightBlock } only %}
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}
    </div>

    <div class="row">
        <div class="large-12 centered columns">
            <a href="{{ locale_path('themes') }}" class="button small radius" title="Meer inspiratie">Meer inspiratie</a>
        </div>
    </div>
</section>