<div class="home-menu">
    <div class="row">
        <div class="small-9 small-offset-3">
            {% set route = app.request.attributes.get('_route') %}
            <ul>
                <li class="home{% if route == 'frontpage' %} active{% endif %}"><a href="{{ path('home') }}"><i class="fi-home"></i></a></li>
                <li{% if route in ['search_nl', 'search_en'] %} class="active"{% endif %}><a href="{{ locale_path('search') }}">zoek en boek</a></li>
                <li{% if route in ['all_regions_nl', 'all_regions_en'] %} class="active"{% endif %}><a href="{{ locale_path('all_regions') }}">skigebieden</a></li>
                <li><a href="#">aanbiedingen</a></li>
            </ul>
        </div>
    </div>
</div>