<div id="reviews" class="reviews">
    <h3>{{ surveyCount }} beoordelingen, gemiddeld<span>{{ surveyAverage|number_format(1, ',', '') }}</span></h3>
    {% for survey in surveys %}
        {% include 'partials/survey/survey.html.twig' with {'survey': survey} only %}
    {% endfor %}
    {% if surveyCount >= 3 %}
    <div data-role="fetched-reviews"></div>
    <div class="more-reviews" data-role="more-reviews-block">
        <a href class="button blank small radius" title="Toon meerdere reviews" data-role="fetch-surveys" data-active="true" data-offset="3">
            <i data-role="fetch-surveys-icon" class="sprite sprite-icon-close-all"></i>
            <span data-role="fetch-surveys-label">Toon meer beoordelingen</span>
        </a>
    </div>
    {% endif %}
</div>