{% set surveys = surveyData.surveys %}
{% if surveyCount > minimalSurveyCount %}
<div id="reviews" class="reviews">
    <h3>{{ surveyCount }} Beoordelingen, gemiddeld<span>{{ surveyAverage }}</span></h3>
    {% for survey in surveys %}
        {% include 'partials/survey/survey.html.twig' with {'survey': survey, 'loop': loop} only %}
    {% endfor %}
</div>
{% endif %}