{% extends 'layouts/default.html.twig' %}
{% set locale = get_locale() %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'disclaimer-title'|trans }}</h1>

                <h2>General</h2>
                <p>
                    Chalet.nl B.V. (Dutch chamber of commerce #30209634), hereinafter &rsquo;Chalet.nl Vakantiewoningen&rsquo;, hereby grants you access to {{ website.name() }} (the Website) and invites you to book anything that is offered. &rsquo;Chalet.nl Vakantiewoningen&rsquo; reserves the right to modify or remove content at any time, and without notice.
                </p>

                <h2>Limitation of liability</h2>
                <p>
                    &rsquo;Chalet.nl Vakantiewoningen&rsquo; is committed to update and supplement the content on our website as often as possible. Despite our utmost care and attention it is possible that some content is incomplete and/or incorrect.
                </p>

                <p>
                    The <strong>prices</strong> and other information of our content on the Website are subject to apparent typos and/or programming mistakes. It is not possible to claim an agreement with &rsquo;Chalet.nl Vakantiewoningen&rsquo; based on such errors.
                </p>

                <h2>Copyright</h2>
                <p>
                    All intellectual property rights of this content is owned by &rsquo;Chalet.nl Vakantiewoningen&rsquo;. It is not permitted to copy, distribute or use any content in any way without written permission by &rsquo;Chalet.nl Vakantiewoningen&rsquo;, unless there are mandatory regulations (such as &rsquo;right to quote&rsquo;) or unless other rules are specified at certain content.
                </p>

            </div>

        </div>
    </section>

{% endblock body %}