{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'conditions-title'|trans }} {{ website.name() }}</h1>

                <b>Introductory provision</b><br>
                These general terms and conditions apply to all holidays booked with Chalet.nl B.V. and under the trade names Chalet.nl, Chalet.be, Chalet.eu, Chalets in Vallandry, Chalettour.nl, Italissima, Italyhomes and Zomerhuisje.nl (hereinafter referred to as the tour operator).<br>
                Deviations from these will not apply, with the exception of amendments specified as such by us clearly and in advance.
                Any supplementary provisions as referred to in the travel documents to be received before departure (voucher) are also applicable.

                <p>
                    <b>Agencies/tour organisers</b><br>
                    We work together with agencies, private owners or representatives from our partners at the various destinations we offer.  They represent us on site, but work under their own responsibility. The tour operator is not responsible for any deviations from the package that have been agreed with them, unless tour operator has given its prior written consent for these.
                </p>

                <p>
                    <b>Arrival and departure</b><br>
                    The standard change-over day is Saturday, any deviation from this will be given in both our offer and the confirmation. It is usually possible to move into the accommodation from 17:00 onwards on the day of arrival. You must as a rule vacate the accommodation before 09:00 on the following Saturday. If the coach trip has been booked via us, you will usually the day before the arrival date and arrive back the morning after the end of the rental period. You can only depart by bus from the Netherlands and Belgium.
                </p>

                <p>
                    <b>Seasonal effects</b><br>
                    It is often the case that preparations for the high season or to wrap up the high season will be carried out during the low season. You should bear in mind that lifts, pistes, stores and entertainment opportunities may not be open or available or may only be open or available at certain times, that the range of other facilities available may be limited, and that building work may be underway at your destination. The tour operator accepts no liability for such circumstances. The benefit of going in high season is that everything is up and running; the downside is that you may have to deal with heavy traffic or packed skiing classes. During the months of January, March and April there are fewer people on the pistes and the weather and snow conditions are often excellent. If you are not tied to a specific period, we recommend that you plan your holiday during these months.
                </p>

                <p>
                    <b>Travel documents</b><br>
                    If you have fulfilled your payment and other obligations, you will receive your vouchers and the rest of the information on your holiday approximately 10 days before departure. These vouchers are the sole proof of your entitlement under the travel agreement. We therefore recommend that you check the travel documents as soon as you receive them.
                </p>

                <p>
                    <b>Travelling by coach, train or aeroplane</b><br>
                    Any journeys by coach, train or aeroplane booked with us are always subject to the supplementary terms and conditions of the company in question and the tour operator is not liable for such journeys. Any supplementary terms and conditions will be provided when you book or will be given in the travel documents.<br>
                    The times given are approximate only. The traveller must always bear in mind that these may be altered both prior to and during the trip. Delays as a result of heavy traffic, strikes, congestion, weather conditions and technical faults will be regarded as situations of force majeure. Should replacement transport have to be used because of a technical fault, you may be seated in a different class. When you book with us, you do so under the condition that you can never hold us liable in this regard.
                </p>

                <p>
                    <b>Own means of transport</b><br>
                    If you expect to arrive at your destination later than 19:00, you must notify the person holding the keys of this well in advance. The tour operator can never be held liable if you arrive after 20:00 and find the place locked, even if you indicated that you would be arriving later.<br>
                    Please bear in mind that equipment such as snow chains, extra fuel, a first-aid kit and a fluorescent jacket may be required in some countries. If you arrive during the weekend after 18:00 on a Saturday, it may not be possible for any defects in the accommodation to be dealt with until Monday morning. If you want to get your security deposit back before 17:00 on Saturday, then you must make the necessary arrangements for your accommodation to be inspected with the relevant accommodation provider or representatives at your destination. If this is not possible, you can leave the address to which the security deposit can be sent; this will be done at your own risk (see also the information about the security deposit below). If you have paid the deposit by credit card, the credit card slip may simply be destroyed once the accommodation has been inspected and found to be in good order.
                </p>

                <p>
                    <b>Linen</b><br>
                    Linen is usually not provided in apartments and chalets. We therefore advise you to take your own linen along. If linen is included, this will be clearly stated in the description.
                </p>

                <p>
                    <b>Luggage</b><br>
                    You are responsible for your own luggage during the entire trip and while staying in the accommodation. The tour operator disclaims any liability for loss, damage or theft. We recommend that you take out travel insurance. You can arrange this with us either by telephone or via the internet.
                    If you are travelling by coach, you can in most areas leave your luggage in a left-luggage room on travelling days, so that you can still go skiing. This left-luggage room is an extra service provided locally. The tour operator will not deal with any complaints or reports in respect of loss, theft and/or damage. Use of a left-luggage room is always at your own risk and at your own expense.
                </p>

                <p>
                    <b>Lost property</b><br>
                    The tour operator is not responsible for tracking down lost property. Should you lose any possessions, we would however like to help you look for these and return these to you insofar as this is possible and can reasonably be expected. Any direct and indirect costs incurred by us in order to track down and return your possessions will be passed on to you. When you book with us, you do so under the condition that you bear the risk in respect of the loss of your luggage, even after this has been found by the tour operator.
                </p>

                <p>
                    <b>Children</b><br>
                    Child discounts are available for both the lift pass and the hotel in many areas. In many cases, babies need not be included when calculating the price, but sometimes a fee is charged for them. In principle, babies must also be included when determining the maximum number of persons permitted in the accommodation; in some cases, it may be possible to exceed this maximum number on request.<br>
                    Cots can in some cases be booked in advance (see description). You must however take your own sheets and blankets.
                </p>

                <p>
                    <b>Pets</b><br>
                    Pets may in some instances be allowed (must be medically certified clear of rabies) in the accommodation on payment of an additional fee per pet. You must always state that you will be bringing a pet in advance, and this must also be specified on the invoice and subsequently on the voucher. Since pets are not permitted on coaches, you must use your own means of transport.
                </p>

                <p>
                    <b>Lift pass</b><br>
                    If you have booked a lift pass, or if this is included in your package, it cannot be changed at your destination. The lift pass will normally start on the day after you arrive, as given on the voucher (i.e. usually on a Sunday). If your holiday does not start on a Saturday, then the starting date for the lift pass will be as indicated in your travel documents. Should you be unable to use the lift pass for one or more days during your holiday, for whatever reason, you will not be entitled to claim compensation from the tour operator.
                </p>

                <p>
                    <b>Accommodation</b><br>
                    The description and photographs of the accommodation may differ from the reality and are provided by way of example only. In some cases the accommodation is owned by private individuals, who have furnished it according to their own taste. Some accommodation may be less than ideal and rather cramped when fully occupied.<br>
                    Please bear in mind, for example, that the amount of hot water available may be limited if the boiler is small. In general, beds in France are smaller, the bathrooms are often not equipped with a shower curtain and the shower head cannot always be hung up. The kitchen equipment does not always include a coffee-maker and/or cheese slicer. The available signal, from internet as well as television, sometimes isn't optimal. If you book more than one apartment or studio of the same kind at the same time, the tour operator will try to reserve units as close together as possible. This is however a preference only, and no rights may be derived from this.<br>
                    The maximum number of persons permitted in the accommodation may never be exceeded, unless this has been agreed in writing and is specified in the confirmation. The owner/manager is entitled to deny access to the accommodation if this stipulation is violated.
                </p>

                <p>
                    <b>Cleaning the accommodation</b><br>
                    You are responsible for cleaning your accommodation at the end of your stay, unless indicated otherwise. It is often possible to pay someone else to do this locally, however. If the cleaning has been included in your package, we nevertheless assume that you will leave the accommodation in a clean and tidy state. The final cleaning does not include the kitchenette or doing the washing-up; these are always your responsibility.
                </p>

                <p>
                    <b>Security deposit</b><br>
                    A security deposit must be paid for the accommodation on arrival. This can usually be paid by credit card or in cash (both options are not always available). The amount of the security deposit is given on your vouchers/travel documents. This security deposit will be refunded at the end of your stay if the accommodation has been found to be in good order. If you have paid the deposit by credit card, the credit card slip may simply be destroyed once the accommodation has been inspected and found to be in good order.<br>
                    The payment and refunding of the security deposit is a matter between you and the accommodation provider. Complaints about a refusal to refund the deposit will not be dealt with, as the tour operator cannot assess the situation in retrospect.<br>
                    In some areas, a deposit must be paid at your destination for the skiing and/or snowboarding equipment.<br>
                    A different security deposit procedure may apply in some cases, and will be noted in the terms and conditions for the accommodation or offer in question.
                </p>

                <p>
                    <b>Complaints</b><br>
                    Complaints must immediately be submitted to our representative on site, since it is often possible to take action to remedy the situation at that time. It is difficult to resolve problems at a later stage. If the complaint is not resolved to your satisfaction, then it must be reported to the tour operator's office or, outside office hours, via the emergency number (given in the travel documents), within 24 hours of arrival / discovery of the problem. If the situation has still not been satisfactorily resolved, then: <br /><br  />
                    1) the complaint must be laid down in writing by means of a complaints form signed by our representative;<br />
                    2) you must submit your letter together with the complaints form to the tour operator by post within 14 days of the end of your holiday. <br /><br />
                    Complaints that have not been a) reported by telephone within 24 hours via the emergency number and b) laid down in writing by means of a complaints form signed by our representative, at the destination, will not be processed at a later stage.
                </p>

                <p>
                    <b>Requests and arrangements</b><br>
                    The tour operator will endeavour to comply with clients' requests as far as possible. If a request results in an arrangement with the tour operator and therefore forms part of a travel agreement, the client will only be able to lay claim to this if the arrangement has been specified on the invoice/booking confirmation and on the vouchers received at a later stage. No rights may be derived from requests.
                </p>

                <p>
                    <b>Promotions and offers</b><br>
                    The information on the internet page and vouchers is binding on the tour operator, unless: <br />
                    <ul>
                        <li>changes to this information have been brought to the attention of the traveller clearly, in writing and before the contract is confirmed via the internet or by telephone;</li>
                        <li>changes subsequently arise as a result of an agreement between both parties to the contract;</li>
                        <li>this involves the correction of errors in the calculation of the holiday price.</li>
                    </ul><br />
                    The tour operator may be forced to remove a specific offer temporarily or permanently. Offers are always subject to availability.
                </p>

                <p>
                    <b>Information about the traveller</b><br>
                    The traveller must provide the tour operator with all useful information that he is explicitly asked to provide. Should the traveller provide incorrect information and this leads to additional costs for the tour operator, the traveller may be charged these costs.
                </p>

                <p>
                    <b>Booking terms and conditions</b><br>
                    The agreement between the person making the booking and the tour operator will come into effect after a verbal booking, a booking by email or a booking via our booking system. The tour operator's obligation to execute the agreement will arise at the time at which the person making the booking receives the invoice/booking confirmation for the booked holiday in writing or via electronic communication. The person responsible for making the booking is jointly and severally liable for all obligations arising from the travel agreement for all the specified persons. The person making the booking acts in his own name and for his own account. He also acknowledges that he is acting as a mandatary in the name and for the account of his travelling companions who have not signed the agreement, on pain of binding himself. The tour operator will charge booking costs per booking confirmation.<br>
                    The tour operator may attach additional conditions to bookings made by clients resident outside the Netherlands.
                </p>

                <p>
                    <b>Tourist tax</b><br>
                    You will be required to pay tourist tax for most of the accommodation we offer (unless it has been specified that this is included). The amount of this payment depends on your destination / accommodation. Approximate prices are given in most cases.
                </p>

                <p>
                    <b>Price of the holiday</b><br>
                    The prices agreed in the contract are fixed prices. You will be charged any additional costs as indicated in the offer separately (in advance or at your destination).<br>
                    The prices agreed in the contract may be adjusted up to 21 calendar days prior to your departure if this is the result of a change in: <br />
                    a) the exchange rates applied in respect of the holiday and/or<br>
                    b) the transport costs, including fuel costs and/or<br>
                    c) the levies and taxes owed for certain services.
                </p>

                <p>
                    If the increase is more than 10% of the total price, the traveller may cancel the contract without any compensation being owed. In such a case, the traveller is entitled to the immediate refund of all the amounts he has paid to the tour operator.
                </p>

                <p>
                    <b>Adding an option/package component to a booking</b><br>
                    After the invoice has been drawn up, the traveller may add an option or a package component to his booking up to 42 days before departure, if the additional option is available. The tour operator is entitled to charge a &euro; 10.00 alteration fee for each addition, plus the amount payable for the additional option booked. The addition to the booking will be confirmed by invoice. Any price increases that have occurred in the interim may be taken into account.
                </p>

                <p>
                    <b>Cancellation of an option/package component by the traveller</b><br>
                    After the invoice has been drawn up, the traveller may cancel an option or package component up to 42 days before departure (it is not possible to cancel catering). The tour operator is entitled to charge &euro; 25.00 per cancelled option/package component (with a minimum of 30%). The cancellation will be confirmed by invoice. It is not possible to reclaim a booked option (such as an extended lift pass, equipment hire etc.) or package component at the destination.
                </p>

                <p>
                    <b>Changes to the departure date or the destination by the traveller</b><br>
                    The departure date and the destination cannot be changed by the traveller. If the traveller wishes to alter the departure date or destination, our standard cancellation conditions will apply.
                </p>

                <p>
                    <b>Changes made by the tour operator prior to departure</b><br>
                    Should, prior to the start of the holiday, it not be possible to execute one of the essential points of the contract, the tour operator must notify the traveller of this as quickly as possible and in any event before departure, and inform him of the possibility of cancelling the contract without incurring any costs, unless he accepts the changes proposed by the tour operator. The traveller must notify the tour operator of his decision as quickly as possible and in any event before departure. If the traveller accepts the change, a new contract or a supplement to the contract must be drawn up, giving the changes made and the effect these will have on the price.
                </p>

                <p>
                    <b>Cancellation by the tour operator prior to departure</b><br>
                    Should the tour operator cancel the contract prior to the start of the holiday for reasons not attributable to the traveller, the traveller may choose between:<br>
                    a) accepting a new offer of a holiday with an equal or lower price, or accepting a new offer of a holiday with a higher price, for which an additional charge must be paid. If the replacement holiday offered has a lower price, the tour operator will refund the difference as quickly as possible;<br>
                    b) or receiving a refund, as quickly as possible, of all amounts paid by him under the contract.<br>
                    The traveller may also, as and when the occasion arises, claim compensation for the non-performance of the contract, unless:<br>
                    1) the tour operator cancels the holiday because the minimum number of travellers required for the holiday (e.g. to fill the coach and/or apartment etc.) was not reached and the traveller was notified of this within the period referred to in the contract and at least seven calendar days before the departure date;<br>
                    2) the cancellation is the result of force majeure. Force majeure is to be understood to mean abnormal and unforeseen circumstances (including overbooking by an agency and avalanches) beyond the control of the party invoking force majeure and the consequences of which could not be avoided despite all the precautions taken.
                </p>

                <p>
                    <b>Payment</b><br>
                    The advance payment (&euro; 100 per sleeping space with a minimum of 30% of the holiday price, plus the premium for the cancellation insurance and reservation costs) must be paid within 10 days of receipt of the invoice/booking confirmation per credit card or into bank account number <span class="nowrap">NL21 ABNA 0849 3066 71</span> <span class="nowrap">(BIC: ABNANL2A)</span> in the name of Chalet.nl in Woerden (the Netherlands), giving the invoice number. The balance of the holiday price must be paid no later than 6 weeks prior to departure. If you book 2 to 6 weeks prior to departure, you must pay the full amount in a single sum within 5 working days of receipt of the invoice. If you book less than 2 weeks prior to departure, you must pay the total amount via a credit card payment or cash deposit immediately after receiving the invoice.  The money or proof of payment must always be in our possession before departure. Any bank charges or exchange rate differences are for the account of the client.
                </p>

                <p>
                    <b>Default</b><br>
                    Should you fail to fulfil your payment obligations, the tour operator may cancel the holiday and you will be required to pay the cancellation charges. You will be in default by the mere expiry of the due date, without any warning being required. Invoices that have not been paid on or before the due date will incur interest of 1% per month or part of a month by operation of law and without further warning. As a result of the mere fact that you are in default on the due date, and without further warning being required, invoices will be increased by 15% or a minimum of &euro; 25 per sleeping space. If payment is not made, any collection charges and other additional costs must be borne by you.
                </p>

                <p>
                    <b>Cancellation</b><br>
                    The tour operator will only accept cancellations that have been sent to the tour operator in Woerden by registered mail. The date of receipt will be deemed to be the date of cancellation. Should you be unable to travel, someone else may take your place. A request to this effect must be submitted in writing at least 7 days prior to the date of departure, together with the notice of cancellation, in terms of which the person replacing you takes over all your obligations, including giving his name and address on and signing the application form, and paying &euro; 25 per person. In all cases, you will owe the tour operator, per cancelled booking, the premium for any cancellation insurance taken out, the booking charges and the following cancellation charges:
                    <ul>
                        <li>If you cancel up to 57 days prior to departure: &euro; 50 per sleeping space with a minimum of 30% of the holiday price</li>
                        <li>If you cancel 29 to 56 days prior to departure: &euro; 100 per sleeping space with a minimum of 30% of the holiday price</li>
                        <li>If you cancel 15 to 28 days prior to departure: 50% of the holiday price</li>
                        <li>If you cancel less than 15 days prior to departure: 100% of the holiday price.</li>
                    </ul>
                    If you are cancelling a package and the cancellation charges amount to less than 100% of the holiday price for the participant(s) who is/are cancelling, the price of the package for the other participants will be adjusted according to the scale applicable at the time.
                    The tour operator advises travellers to take out cancellation insurance when making the booking, to cover themselves against the aforementioned cancellation charges should unforeseen circumstances force them to cancel the holiday.
                </p>
                <p>
                    It is possible to take out travel and cancellation insurance with the specified insurer via the tour operator (only possible for citizens of the Netherlands and Belgium). The tour operator acts as a reseller in this regard and is not responsible for the performances delivered by the insurer. The traveller declares that he agrees to the conditions laid down by the insurer.
                    In the event of loss, damage or injury sustained during the period laid down in the conditions, the traveller must contact the tour operator which will act as an intermediary with regard to any claims for compensation.
                </p>

                <p>
                    <b>Liability of the traveller</b><br>
                    The tour operator disclaims any liability for loss, damage or injury sustained by travellers for whatever reason, as well as for the loss or theft of or damage to luggage or other property, including money. The risk in this regard is borne by the traveller himself. The tour operator therefore recommends that you take out travel insurance.<br>
                    The traveller is also liable for loss or damage sustained by the tour operator, its staff or representatives, means of transport, accommodation or an option/package component through fault on the part of the traveller, as well as when the traveller has not fulfilled his contractual obligations. Loss or damage caused by the traveller will be deducted from the security deposit. If the amount of the loss or damage exceeds the amount of the deposit, the traveller must pay the amount owed on site. The traveller must have third party insurance in accordance with what is customary in the country of living. Should the traveller be guilty of improper behaviour (public drunkenness, excessive noise after 22:00, vandalism etc.), the tour operator may cancel the travel contract immediately and/or impose fines for the improper behaviour, without the person responsible for making the reservation being entitled to claim a refund of the holiday price.
                </p>

                <p>
                    <b>Liability of the tour operator</b><br>
                    The tour operator is liable for the proper execution of the contract, in accordance with the expectations that the traveller may reasonably have vis-&agrave;-vis the tour operator based on the provisions of the contract, and for the obligations arising from the contract, regardless of whether these obligations are to be fulfilled by the tour operator itself or other service providers and without prejudice to the tour operator's right to assert claims against these other service providers.<br>
                    The tour operator disclaims any liability for loss or damage for which the traveller can claim under travel and/or cancellation insurance. The traveller accepts that he books under the condition that any claims against the tour operator for loss or damage as well as compensation for loss of holiday enjoyment will together be limited to a maximum of 100% of the holiday price.
                </p>

                <p>
                    All reservations of holiday homes and other (additional) services offered via this website and email by tour operator are subject to the General Terms and conditions of Travel and Sale. All disputes that arise between Chalet.nl B.V. and traveller / clients are subject to Dutch law. The competent court is located in Utrecht, the Netherlands.
                </p>
                <p>
                    <i>Version 01/08/2014</i>
                </p>

            </div>

        </div>

    </section>

{% endblock %}