{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page contact-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <h1>{{ 'conditions-title'|trans }} {{ website.name() }}</h1>

                {% if website.get() == constant('WEBSITE_VENTURASOL_VACANCES_NL', website) %}

                    <b>Inleidende bepaling</b><br>
                    Deze algemene voorwaarden zijn van toepassing op alle bij Venturasol Vacances B.V. geboekte reizen. Afwijkingen hierop zijn niet van toepassing met uitzondering van door ons vooraf en duidelijk als zodanig omschreven aanpassingen. Eventuele aanvullende bepalingen als vermeld in de voor vertrek te ontvangen reisdocumenten (voucher) zijn mede van toepassing.


                    <p>
                        <b>Agentschappen / Reisleiding</b><br>
                        Wij werken op onze verschillende bestemmingen samen met agentschappen, particuliere eigenaren of reisleiding van onze partners. Zij vertegenwoordigen ons ter plekke maar werken onder eigen verantwoording. Voor eventueel met hen overeengekomen afwijkingen van het arrangement draagt reisorganisator geen verantwoording zonder schriftelijke toestemming vooraf.
                    </p>


                    <p>
                        <b>Aankomst en vertrekdag</b><br>
                        De wisseldag is standaard op zaterdag, afwijkingen hierop worden zowel bij ons aanbod als in de bevestiging vermeld. Op de aankomstdag is het meestal mogelijk, vanaf 17.00 uur, de accommodatie te betrekken. U dient over het algemeen op de eerstvolgende zaterdag voor 9.00 uur de accommodatie te hebben verlaten.
                    </p>


                    <p>
                        <b>Linnengoed</b><br>
                        Standaard is linnengoed bij appartementen en chalets inclusief. Indien het linnengoed niet inclusief is staat dit duidelijk vermeld in de omschrijving.
                    </p>


                    <p>
                        <b>Accommodatie</b><br>
                        De beschrijvingen en foto's van de accommodatie kunnen in werkelijkheid afwijken en zijn uitsluitend een voorbeeld. Soms is de accommodatie eigendom van particulieren, die het naar eigen smaak hebben ingericht. Sommige accommodaties kunnen bij een maximale bezetting minder ideaal en vrij krap zijn. Houdt u bijvoorbeeld rekening met de hoeveelheid warm water in geval van een kleine boiler. In het algemeen geldt dat de bedden in Frankrijk kleiner zijn, in de badkamers vaak een douchegordijn ontbreekt en dat de douchekop niet altijd kan worden opgehangen. In de keukenuitrusting zijn niet altijd een koffiezetapparaat en/of kaasschaaf aanwezig. De aanwezige signaalsterkte, van internet alsmede televisie, kan soms niet optimaal werken. Boekt u meerdere appartementen of studio's van dezelfde soort tegelijkertijd, dan zal reisorganisator proberen deze zo dicht mogelijk bij elkaar te reserveren. Dit is te allen tijde een preferentie, waar geen rechten aan ontleend kunnen worden. Het is nooit toegestaan met meer deelnemers in een accommodatie te verblijven dan als maximum staat aangegeven, tenzij schriftelijk overeen gekomen en in de bevestiging vermeld. De eigenaar / beheerder heeft het recht mensen de toegang tot een accommodatie te ontzeggen wanneer hier niet aan wordt voldaan.
                    </p>

                    <p>
                        <b>Accommodatieschoonmaak</b><br>
                        Voor alle accommodatie geldt dat, tenzij anders vermeld, de eindschoonmaak inclusief is. Wij gaan er wel vanuit dat u de accommodatie opgeruimd / bezemschoon achterlaat. De keukenhoek en afwas vallen nooit onder de schoonmaak en dienen door uzelf gedaan te worden.
                    </p>


                    <p>
                        <b>Borg</b><br>
                        Voor onze eigen beheer accommodaties in Les Menuires dient vooraf het op de website vermelde borgbedrag door de touroperator te worden ge&iuml;ncasseerd bij de klant. De afhandeling van de borg is een zaak tussen uzelf en de accommodatieverschaffer. Eventuele schades zullen door de touroperator met de klant verrekend worden. Afwijkingen op deze borgprocedure zijn mogelijk en worden in de voorwaarden van de betreffende accommodatie of aanbieding vermeld.
                    </p>


                    <p>
                        <b>Klachten</b><br>
                        Klachten dienen direct bij onze vertegenwoordiger ter plekke gemeld te worden, aangezien op het moment zelf vaak wat aan een klacht gedaan kan worden. Achteraf is het moeilijk de problemen op te lossen. Wordt de klacht niet naar tevredenheid opgelost dan dient de klacht binnen 24 uur na aankomst / constatering gemeld te worden bij kantoor reisorganisator of buiten kantooruren via het noodnummer (wordt vermeld op de reisdocumenten). Mocht de klacht alsnog niet naar welbevinden zijn verholpen dan dient de klacht:
                        <ol>
                            <li>middels een door onze vertegenwoordiger ondertekend klachtenformulier vastgelegd te worden.</li>
                            <li>uw brief samen met het klachtenformulier binnen 14 dagen na afloop van de reis schriftelijk per post bij reisorganisator ingediend te worden.</li>
                        </ol>
                        Klachten die op de bestemming niet a) telefonisch binnen 24 uur bij het noodnummer zijn gemeld en b) schriftelijk d.m.v. een door onze vertegenwoordiger ondertekent klachtenformulier zijn vastgelegd, worden achteraf niet meer in behandeling genomen.
                    </p>

                    <p>
                        <b>Wensen en afspraken</b><br>
                        Venturasol Vacances probeert zoveel mogelijk te voldoen aan wensen van klanten. Wanneer een wens resulteert in een afspraak dan moet de afspraak op de factuur/reserveringsbevestiging vermeld zijn. Aan wensen kunnen nooit rechten worden ontleend.
                    </p>

                    <p>
                        <b>Promotie en aanbod</b><br>
                        De gegevens op de internetpagina en vouchers binden Venturasol Vacances, tenzij:
                        <ul>
                    	    <li>wijzigingen in deze gegevens duidelijk, schriftelijk en v&oacute;&oacute;r bevestiging van het contract via internet of telefoon ter kennis van de reiziger zijn gesteld.</li>
                    	    <li>zich naderhand wijzigingen voordoen ingevolge een akkoord tussen beide partijen bij het contract.</li>
                        </ul>
                    </p>

                    <p>
                        <b>Toeristenbelasting</b><br>
                        Voor de meeste accommodaties dient u toeristenbelasting te betalen (tenzij aangegeven dat dit inclusief is). De hoogte van dit bedrag is afhankelijk van de bestemming / accommodatie. Bij de meeste accommodaties worden indicatieprijzen weergegeven.
                    </p>

                    <p>
                        <b>Wijziging van vertrekdatum of bestemming door de reiziger</b><br>
                        Dit is niet mogelijk. Indien de reiziger, vertrekdatum of bestemming wenst te wijzigen, dan gelden de onze standaard annuleringsvoorwaarden.
                    </p>

                    <p>
                        <b>Verbreking door de reisorganisator v&oacute;&oacute;r afreis</b><br>
                        Indien de reisorganisator v&oacute;&oacute;r aanvang van de reis het contract verbreekt wegens een niet aan de reiziger toe te rekenen omstandigheid, heeft de reiziger de keuze tussen:
                        <ol type="a">
                    	    <li>ofwel de aanvaarding van een nieuw aanbod van een reis met een gelijke of lagere prijs, of wel de aanvaarding van een nieuw aanbod van een reis met een hogere prijs, waarvoor een toeslag betaald moet worden. Indien de reis die ter vervanging wordt aangeboden een lagere prijs heeft, zal Reisorganisator het verschil in prijs zo spoedig mogelijk terugbetalen;</li>
                            <li>ofwel de terugbetaling, zo spoedig mogelijk, van alle door hem op grond van het contract betaalde bedragen.</li>
                        </ol>
                        De reiziger kan eveneens, in voorkomend geval, aanspraak maken op een schadeloosstelling voor het niet-uitvoeren van het contract, tenzij de annulering het gevolg is van overmacht. Onder overmacht wordt verstaan abnormale en onvoorziene omstandigheden (o.a. overboeking door een agentschap en lawines) onafhankelijk van de wil van diegene die zich erop beroept en waarvan de gevolgen ondanks alle voorzorgsmaatregelen niet konden worden vermeden.
                    </p>

                    <p>
                        <b>Betaling</b><br>
                        Na ontvangst van de factuur/reserveringsbevestiging dient binnen 10 dagen minstens het voorschot (30% van de reissom) onder vermelding van het factuurnummer voldaan te worden op het bankrekeningnummer <span class="nowrap">NL77 ABNA 0436 6729 01</span> t.n.v. Venturasol Vacances te Woerden. Uiterlijk 6 weken voor vertrek dient het restant van de reissom voldaan te worden. Eventuele bankkosten of wisselkoersen zijn voor rekening van de klant.
                    </p>

                    <p>
                        <b>Betalingsverzuim</b><br>
                        Indien niet aan de betalingsverplichting wordt voldaan kan de reis door reisorganisator geannuleerd worden en dienen de annuleringskosten te worden voldaan. U zal louter door het verstrijken van de vervaldag in gebreke zijn en zulks zonder dat enige aanmaning vereist is. Facturen die niet op of voor de vervaldag betaald werden, brengen van rechtswege en zonder verdere aanmaning een intrest op van 1% per verlopen of begonnen maand. Alleen al door het feit van betalingsverzuim op de vervaldag en zonder dat enige aanmaning vereist is, worden facturen met 15 % of met een minimum van Euro 25 per slaapplaats verhoogd. In geval van uitblijvende betaling zijn eventuele incasso en overige bijkomende kosten voor uw rekening.
                    </p>

                    <p>
                        <b>Annulering</b><br>
                        Venturasol Vacances accepteert uitsluitend annuleringen die aangetekend verstuurd zijn naar Venturasol Vacances te Woerden. De datum van ontvangst geldt als annuleringsdatum. De volgende annuleringkosten zijn van toepassing:
                        <ul>
                    	    <li>Bij annulering tot 57 dagen voor vertrek: Euro 50 per slaapplaats met een minimum van 30% van de reissom</li>
                            <li>Bij annulering vanaf 56 tot 29 dagen voor vertrek: Euro 100 per slaapplaats met een minimum van 30% van de reissom</li>
                            <li>Bij annulering vanaf 28 tot 15 dagen voor vertrek: 50% van de reissom</li>
                            <li>Bij annulering van 14e dag tot de dag van vertrek of later: 100% van de reissom</li>
                        </ul>
                    </p>

                    <p>
                        <b>Aansprakelijkheid van de reiziger</b><br>
                        Voor schade en letsel berokkend aan reizigers door welke oorzaak dan ook, alsmede voor verlies, diefstal of beschadiging van bagage, eigendommen, geld inbegrepen, aanvaardt Venturasol Vacances geen aansprakelijkheid. Dit is voor eigen risico. Venturasol Vacances adviseert u daarom een reisverzekering af te sluiten. Tevens is de reiziger aansprakelijk voor de schade die Venturasol Vacances, haar personeel of vertegenwoordigers, vervoersmiddel, accommodatie of optie/arrangementsonderdeel door zijn/haar fout oplopen, alsook wanneer de reiziger zijn contractuele verplichtingen niet is nagekomen. Schade door de reiziger veroorzaakt, wordt met de borg verrekend. Indien het bedrag van de schade de borg overtreft moet de reiziger ter plaatse het verschuldigde bedrag betalen. Reiziger is verplicht om over een in Nederland gangbare aansprakelijkheidsverzekering te beschikken. Bij onbetamelijk gedrag van de reiziger (openbare dronkenschap, geluidsoverlast na 22.00 uur, vernielingen etc.) kan Venturasol Vacances het reiscontract onmiddellijk verbreken en/of boetes voor het onbetamelijk bedrag berekenen, zonder dat de hoofdboeker aanspraak kan maken op restitutie van de reissom.
                    </p>

                    <p>
                        <b>Aansprakelijkheid van Venturasol Vacances</b><br>
                        Venturasol Vacances is aansprakelijk voor de goede uitvoering van het contract, overeenkomstig de verwachtingen die de reiziger op grond van de bepalingen van het contract tot de reisorganisatie redelijkerwijs mag hebben, en voor de uit het contract voortvloeiende verplichtingen, ongeacht of deze verplichtingen zijn uit te voeren door hemzelf dan wel door andere verstrekkers van diensten en zulks onverminderd het recht van de Venturasol Vacances om deze andere verstrekkers van diensten aan te spreken. Venturasol Vacances accepteert geen aansprakelijkheid voor schade waarvoor reiziger een beroep kan doen op een reis- en/of annuleringsverzekering. Reiziger accepteert dat hij boekt onder de voorwaarde dat hij Venturasol Vacances maximaal aansprakelijk stelt voor schade en vergoeding van derving van reisgenot samen beperkt tot maximaal 100% van de reissom.
                    </p>

                    <p>
                        <i>Versie 19/06/2014</i>
                    </p>

                {% else %}

                    {# Chalet.nl B.V. #}

                    <b>Inleidende bepaling</b><br>

                    {% if website.get() == constant('WEBSITE_VENTURASOL_NL', website) %}
                    	Deze algemene voorwaarden zijn van toepassing op alle bij Venturasol.nl geboekte reizen. Afwijkingen hierop zijn niet van toepassing met uitzondering van door ons vooraf en duidelijk als zodanig omschreven aanpassingen. Eventuele aanvullende bepalingen als vermeld in de voor vertrek te ontvangen reisdocumenten (voucher) zijn mede van toepassing.
                    {% else %}
                    	Deze algemene voorwaarden zijn van toepassing op alle bij Chalet.nl B.V. en onder de handelsnamen Chalet.nl, Chalet.be, Chalet.eu, Chalets in Vallandry, Chalettour.nl, Italissima, Italyhomes en Zomerhuisje.nl (hierna te noemen reisorganisator) geboekte reizen. Afwijkingen hierop zijn niet van toepassing met uitzondering van door ons vooraf en duidelijk als zodanig omschreven aanpassingen. Eventuele aanvullende bepalingen als vermeld in de voor vertrek te ontvangen reisdocumenten (voucher) zijn mede van toepassing.
                    {% endif %}

                    <p>
                        <b>Agentschappen / Reisleiding</b><br>
                        Wij werken op onze verschillende bestemmingen samen met agentschappen, particuliere eigenaren of reisleiding van onze partners. Zij vertegenwoordigen ons ter plekke maar werken onder eigen verantwoording. Voor eventueel met hen overeengekomen afwijkingen van het arrangement draagt reisorganisator geen verantwoording zonder schriftelijke toestemming vooraf.
                    </p>

                    <p>
                        <b>Aankomst en vertrekdag</b><br>
                        De wisseldag is standaard op zaterdag, afwijkingen hierop worden zowel bij ons aanbod als in de bevestiging vermeld. Op de aankomstdag is het meestal mogelijk, vanaf 17.00 uur, de accommodatie te betrekken. U dient over het algemeen op de eerstvolgende zaterdag voor 9.00 uur de accommodatie te hebben verlaten. Indien de busreis via ons geboekt is geldt over het algemeen dat het vertrek vanuit Nederland de dag voorafgaand aan de aankomstdag is en de terugkomst in Nederland in de morgen na afloop van de huurperiode is.
                    </p>

                    <p>
                        <b>Seizoensinvloeden</b><br>
                        Vaak worden in het laagseizoen voorbereidingen getroffen om het seizoen op gang te brengen of af te ronden. U dient rekening te houden met een mogelijk beperkte openstelling van liften, pistes, winkels en uitgaansmogelijkheden, beperkter aanbod van overige faciliteiten en de mogelijkheid van bouwactiviteiten op de bestemming. Reisorganisator aanvaardt geen aansprakelijkheid voor dergelijke omstandigheden. Het hoogseizoen heeft als voordeel dat alles op volle toeren draait, het nadeel kan de drukte in bijvoorbeeld het verkeer of de volle skiklassen zijn. In de maanden januari, maart en april is het minder druk op de piste terwijl het weer en de sneeuwcondities dan vaak uitstekend zijn. Als u niet gebonden bent aan een bepaalde periode adviseren wij u in deze maanden uw vakantie te plannen.
                    </p>

                    <p>
                        <b>Reisdocumenten</b><br>
                        Wanneer u aan de betaling- en overige verplichtingen heeft voldaan, ontvangt u ca. 10 dagen voor vertrek uw vouchers en de overige reisinformatie. Deze vouchers zijn het enige bewijs om aanspraak te maken op de reisovereenkomst. Wij raden u daarom aan om direct na ontvangst de reisdocumenten te controleren.
                    </p>

                    <p>
                        <b>Bus-, trein- of vliegreizen</b><br>
                        Eventuele bij ons geboekte bus-, trein- of vliegreizen vallen altijd onder de aanvullende voorwaarden van de betreffende maatschappij en zijn niet voor risico van reisorganisator. Eventuele aanvullende voorwaarden worden verstrekt bij boeking of vermeld in de reisdocumenten.
                        De vermelde uurregelingen zijn indicatief. De reiziger dient in alle omstandigheden er rekening mee te houden dat deze zowel v&oacute;&oacute;r als tijdens de reis gewijzigd kunnen worden. Vertragingen door verkeersdrukte, stakingen, opstoppingen, weersinvloeden maar ook technische mankementen zijn voor ons overmachtsituaties. Indien door een technisch mankement vervangend vervoer moet worden ingezet, is het mogelijk dat uw plaats een andere klasse heeft. U boekt onder het beding dat u ons nooit voor deze zaken aansprakelijk stelt.
                    </p>

                    <p>
                        <b>Eigen vervoer</b><br>
                        Indien u later dan 19.00 uur verwacht aan te komen (op de wisseldag) op de plaats van uw bestemming, dient u de contactpersoon van het sleuteladres hierover ruimschoots van te voren informeren. Reisorganisator kan nimmer aansprakelijk worden gesteld wanneer u voor een gesloten deur arriveert na 20.00 uur, ook niet wanneer u al heeft aangegeven later aan te komen.
                        Houdt u er rekening mee dat o.a. sneeuwkettingen, reserve brandstof, verbanddoos en reflecterende vestjes in sommige landen verplicht zijn. Komt u in het weekeinde aan na zaterdag 18.00 uur, dan kunnen eventuele gebreken aan de accommodatie soms niet voor maandagochtend in behandeling worden genomen. Indien u de borg eerder dan voor zaterdag 17.00 uur terug wilt ontvangen, dan dient u ter plekke met de desbetreffende accommodatieverschaffer of reisleiding hierover een afspraak te maken om de accommodatie te laten controleren. Indien dit niet mogelijk is, kunt u uw adres achterlaten waarnaar de borg opgestuurd kan worden, dit is wel op eigen risico (zie borgprocedure). Bij betaling met creditcard kan het zijn dat de afgegeven creditcardslip na akkoord bevinding wordt vernietigd.
                    </p>

                    <p>
                        <b>Linnengoed</b><br>
                        Standaard is linnengoed bij appartementen en chalets niet inclusief. We adviseren u om eigen linnengoed mee te nemen. Indien het linnengoed wel inclusief is staat dit duidelijk vermeld in de omschrijving.
                    </p>

                    <p>
                        <b>Bagage</b><br>
                        Gedurende de gehele reis en verblijfsduur bent u zelf verantwoordelijk voor uw bagage. Voor verlies, schade of diefstal accepteert reisorganisator geen aansprakelijkheid. Wij raden u aan om een reisverzekering af te sluiten. U kunt dit zowel telefonisch als via internet bij ons regelen.
                        Voor mensen die met de bus reizen is het in de meeste gebieden mogelijk om op de reisdagen uw bagage in een depot achter te laten zodat u deze dag nog kunt ski&euml;n. Dit bagagedepot is een extra service die ter plaatse wordt geleverd. Eventuele klachten of aangiften van verlies, diefstal en/of schade worden niet door reisorganisator in behandeling genomen. Het gebruiken van een bagagedepot is altijd op eigen risico en voor eigen kosten.
                    </p>

                    <p>
                        <b>Verloren voorwerpen</b><br>
                        Reisorganisator is niet verantwoordelijk voor het opsporen van verloren voorwerpen. In geval van vermissing willen wij, voor zover mogelijk en redelijkerwijs verwacht mag worden, wel helpen bij het zoeken en eventueel terugbezorgen van het verloren voorwerp. Door ons gemaakte directe en indirecte kosten voor opsporing en terugbezorging worden aan u doorbelast. U boekt onder het beding dat het kwijtraken van bagage, ook nadat het door reisorganisator gevonden is, uw eigen risico is.
                    </p>

                    <p>
                        <b>Kinderen</b><br>
                        In veel gebieden zijn er kinderkortingen voor zowel de skipas als het hotel. Baby's hoeven in veel gevallen niet meegerekend te worden in de berekening maar soms wordt er wel een bedrag voor ze in rekening gebracht. In principe moeten ook baby's meegeteld worden met de maximale capaciteit van de accommodatie; op aanvraag is het  soms mogelijk om met meer mensen toegelaten te worden.
                        Kinderbedjes kunnen soms vooraf gereserveerd worden (zie omschrijving). Lakens en een dekentje moeten door de reiziger zelf meegenomen worden.
                    </p>

                    <p>
                        <b>Huisdieren</b><br>
                        Huisdieren zijn in sommige accommodaties na het betalen van een toeslag per huisdier welkom (certificaat rabi&euml;s vrij is verplicht). Het meenemen van een huisdier moet altijd vooraf opgegeven worden, en moet op de factuur en later op de voucher vermeld staan. Omdat in de bussen geen huisdieren zijn toegestaan, dient u gebruik te maken van eigen vervoer.
                    </p>

                    <p>
                        <b>Skipas</b><br>
                        Een eventueel geboekte of in het arrangement opgenomen skipas kan ter plaatse niet worden gewijzigd. De skipas gaat normaal gesproken in op de dag na aankomst als vermeld op de voucher (normaal dus op zondag). Bij afwijkende reisduur als aangegeven in de reisdocumenten. Mocht u tijdens de vakantie, om wat voor reden dan ook, &eacute;&eacute;n of meerdere dagen geen gebruik kunnen maken van uw skipas kunt u geen aanspraak maken op vergoeding door reisorganisator.
                    </p>

                    <p>
                        <b>Accommodatie</b><br>
                        De beschrijvingen en foto's van de accommodatie kunnen in werkelijkheid afwijken en zijn uitsluitend een voorbeeld. Soms is de accommodatie eigendom van particulieren, die het naar eigen smaak hebben ingericht. Sommige accommodaties kunnen bij een maximale bezetting minder ideaal en vrij krap zijn.
                        Houdt u bijvoorbeeld rekening met de hoeveelheid warm water in geval van een kleine boiler. In het algemeen geldt dat de bedden in Frankrijk kleiner zijn, in de badkamers vaak een douchegordijn ontbreekt en dat de douchekop niet altijd kan worden opgehangen. In de keukenuitrusting zijn niet altijd een koffiezetapparaat en/of kaasschaaf aanwezig. De aanwezige signaalsterkte, van internet alsmede televisie, kan soms niet optimaal werken. Boekt u meerdere appartementen of studio's van dezelfde soort tegelijkertijd, dan zal reisorganisator proberen deze zo dicht mogelijk bij elkaar te reserveren. Dit is te allen tijde een preferentie, waar geen rechten aan ontleend kunnen worden.
                        Het is nooit toegestaan met meer deelnemers in een accommodatie te verblijven dan als maximum staat aangegeven, tenzij schriftelijk overeen gekomen en in de bevestiging vermeld. De eigenaar / beheerder heeft het recht mensen de toegang tot een accommodatie te ontzeggen wanneer hier niet aan wordt voldaan.
                    </p>

                    <p>
                        <b>Accommodatieschoonmaak</b><br>
                        Voor alle accommodatie geldt dat, tenzij anders vermeld, de eindschoonmaak voor eigen verantwoordelijkheid is. Het uitbesteden hiervan is, tegen betaling, ter plaatse vaak mogelijk. Als de schoonmaak incl. is gaan wij er wel vanuit dat u de accommodatie opgeruimd / bezemschoon achterlaat. De keukenhoek en afwas vallen nooit onder de schoonmaak en dienen door uzelf gedaan te worden.
                    </p>

                    <p>
                        <b>Borg</b><br>
                        Voor de accommodatie dient bij aankomst borg te worden betaald. Dit kan meestal met creditcard of contant geld (niet altijd beide mogelijkheden toegestaan). Het borgbedrag staat vermeld op uw vouchers/reisdocumenten. Deze borgsom wordt, aan het einde van het verblijf teruggegeven mits de accommodatie in orde bevonden is. Bij betaling met creditcard kan het zijn dat de afgegeven creditcardslip na akkoord bevinding wordt vernietigd.
                        De afhandeling van de borg is een zaak tussen uzelf en de accommodatieverschaffer. Klachten m.b.t. ingehouden borg worden niet in behandeling genomen, omdat het voor reisorganisator niet mogelijk is om de situatie achteraf te beoordelen.
                        In enkele gebieden moet ter plaatse borg worden betaald voor de ski- en/of snowboardmateriaal.
                        Afwijkingen op deze borgprocedure zijn mogelijk en worden in de voorwaarden van de betreffende accommodatie of aanbieding vermeld.
                    </p>

                    <p>
                        <b>Klachten</b><br>
                        Klachten dienen direct bij onze vertegenwoordiger ter plekke gemeld te worden, aangezien op het moment zelf vaak wat aan een klacht gedaan kan worden. Achteraf is het moeilijk de problemen op te lossen. Wordt de klacht niet naar tevredenheid opgelost dan dient de klacht binnen 24 uur na aankomst / constatering gemeld te worden bij kantoor reisorganisator of buiten kantooruren via het noodnummer (wordt vermeld op de reisdocumenten). Mocht de klacht alsnog niet naar welbevinden zijn verholpen dan dient de klacht:
                        <ol>
                            <li>middels een door onze vertegenwoordiger ondertekend klachtenformulier vastgelegd te worden.</li>
                            <li>uw brief samen met het klachtenformulier binnen 14 dagen na afloop van de reis schriftelijk per post bij reisorganisator ingediend te worden.</li>
                        </ol>
                        Klachten die op de bestemming niet a) telefonisch binnen 24 uur bij het noodnummer zijn gemeld en b) schriftelijk d.m.v. een door onze vertegenwoordiger ondertekent klachtenformulier zijn vastgelegd, worden achteraf niet meer in behandeling genomen.
                    </p>

                    <p>
                        <b>Wensen en afspraken</b><br>
                        reisorganisator probeert zoveel mogelijk te voldoen aan wensen van klanten. Wanneer een wens resulteert in een afspraak met reisorganisator en daarmee een onderdeel vormt van een reisovereenkomst, dan moet de afspraak op de factuur/reserveringsbevestiging en op de later te ontvangen vouchers vermeld zijn om hier aanspraak op te kunnen maken. Aan wensen kunnen nooit rechten worden ontleend.
                    </p>

                    <p>
                        <b>Promotie en aanbod</b><br>
                        De gegevens op de internetpagina en vouchers  binden reisorganisator, tenzij:
                        <ul>
                            <li>wijzigingen in deze gegevens duidelijk, schriftelijk en v&oacute;&oacute;r bevestiging van het contract via internet of telefoon ter kennis van de reiziger zijn gesteld.</li>
                            <li>zich naderhand wijzigingen voordoen ingevolge een akkoord tussen beide partijen bij het contract.</li>
                            <li>het gaat om correcties van fouten in de berekening van de reissom.</li>
                        </ul>
                        Reisorganisator kan genoodzaakt zijn een bepaald aanbod tijdelijk of blijvend te schrappen. Het aanbod geldt steeds tot uitputting.
                    </p>

                    <p>
                        <b>Informatie met betrekking tot de reiziger</b><br>
                        De reiziger zal aan reisorganisator alle nuttige inlichtingen verstrekken die hem uitdrukkelijk gevraagd worden. Wanneer de reiziger verkeerde inlichtingen verstrekt en dit tot extra kosten leidt voor de reisorganisator mogen die kosten in rekening gebracht worden.
                    </p>

                    <p>
                        <b>Boekingsvoorwaarden</b><br>
                        De overeenkomst tussen boeker en reisorganisator komt tot stand na een mondelinge boeking, een boeking per e-mail of een boeking via ons boekingssysteem. De plicht tot uitvoeren van het contract door reisorganisator ontstaat op het moment dat boeker de factuur/reservatiebevestiging van de geboekte reis schriftelijk of via elektronische weg ontvangt. De hoofdboeker is hoofdelijk aansprakelijk voor alle verplichtingen voortvloeiend uit de reisovereenkomst voor alle opgegeven personen. De boeker handelt in eigen naam en voor eigen rekening. Hij erkent eveneens te handelen als lasthebber in naam en voor rekening van de reisgenoten die niet ondertekenen, zulks op straffe van zichzelf te verbinden. Reisorganisator berekend per boekingsbevestiging reserveringskosten.
                        Aan reserveringen door klanten welke buiten Nederland wonen kan reisorganisator aanvullende voorwaarden verbinden.
                    </p>

                    <p>
                        <b>Toeristenbelasting</b><br>
                        Voor de meeste accommodaties dient u toeristenbelasting te betalen (tenzij aangegeven dat dit inclusief is). De hoogte van dit bedrag is afhankelijk van de bestemming / accommodatie. Bij de meeste accommodaties worden indicatieprijzen weergegeven.
                    </p>

                    <p>
                        <b>Prijs van de reis</b><br>
                        De in het contract overeengekomen prijzen zijn vast. Bijkomende kosten zoals aangegeven in de aanbieding worden apart (vooraf of ter plaatse) aan u doorberekend.
                        De in het contract overeengekomen prijzen kunnen tot en met 21 kalenderdagen die aan de datum van het vertrek voorafgaan herzien worden, voor zover de herziening het gevolg is van een wijziging in:
                        <ol type="a">
                            <li>de op de reis toegepaste wisselkoersen en/of</li>
                            <li>de vervoerskosten, met inbegrip van de brandstofkosten en/of</li>
                            <li>de voor bepaalde diensten verschuldigde heffingen en belastingen.</li>
                        </ol>
                        Indien de verhoging 10% van de totaalprijs te boven gaat, kan de reiziger het contract zonder vergoeding verbreken. In dit geval heeft de reiziger recht op onmiddellijke terugbetaling van al de bedragen die hij aan reisorganisator heeft betaald.
                    </p>

                    <p>
                        <b>Bijboeking van een optie/arrangementonderdeel door de reiziger</b><br>
                        Na het opmaken van de factuur kan de reiziger tot 42 dagen voor vertrek een optie of arrangementsonderdeel bijboeken indien deze bijgeboekte optie voorradig is. Reisorganisator is gerechtigd, na deze 42 dagen, per bijboeking Euro 10,00 wijzigingskosten in rekening te brengen, vermeerderd met de kosten voor de bijgeboekte optie. De bijboeking wordt per verzonden factuur bevestigd. Tussentijdse prijsstijgingen mogen hierin meegerekend worden.
                    </p>

                    <p>
                        <b>Opzegging van een optie/arrangementonderdeel door de reiziger</b><br>
                        Na het opmaken van de factuur kan de reiziger tot 42 dagen voor vertrek een optie of arrangementonderdeel opzeggen (opzegging catering is niet mogelijk). Reisorganisator is gerechtigd Euro 25,00 per opgezegd(e) optie/arrangementonderdeel (met een minimum van 30%) in rekening te brengen. De opzegging wordt per verzonden factuur bevestigd. Het is niet mogelijk een geboekte optie (o.a. skipas uitbreiding, materiaalhuur etc.) of arrangement onderdeel ter plaatse terug te vorderen.
                    </p>

                    <p>
                        <b>Wijziging van vertrekdatum of bestemming door de reiziger</b><br>
                        Dit is niet mogelijk. Indien de reiziger, vertrekdatum of bestemming wenst te wijzigen, dan gelden de onze standaard annuleringsvoorwaarden.
                    </p>

                    <p>
                        <b>Wijzigingen door reisorganisator v&oacute;&oacute;r de afreis</b><br>
                        Indien v&oacute;&oacute;r de aanvang van de reis &eacute;&eacute;n van de wezenlijke punten van het contract niet kan worden uitgevoerd, dient reisorganisator de reiziger zo spoedig mogelijk, en in elk geval v&oacute;&oacute;r de afreis, daarvan op de hoogte te stellen en hem in te lichten over de mogelijkheid het contract te verbreken zonder kosten, tenzij hij de door de reisorganisator voorgestelde wijzigingen aanvaardt. De reiziger dient zo spoedig mogelijk, en in elk geval v&oacute;&oacute;r de afreis, de reisorganisator van zijn beslissing in kennis te stellen. Indien de reiziger de wijziging aanvaardt, dient er een nieuw contract of een bijvoegsel bij het contract te worden opgesteld waarin de aangebrachte wijzigingen en de invloed daarvan op de prijs worden meegedeeld.
                    </p>

                    <p>
                        <b>Verbreking door de reisorganisator v&oacute;&oacute;r afreis</b><br>
                        Indien de reisorganisator v&oacute;&oacute;r aanvang van de reis het contract verbreekt wegens een niet aan de reiziger toe te rekenen omstandigheid, heeft de reiziger de keuze tussen:
                        <ol type="a">
                            <li>ofwel de aanvaarding van een nieuw aanbod van een reis met een gelijke of lagere prijs, of wel de aanvaarding van een nieuw aanbod van een reis met een hogere prijs, waarvoor een toeslag betaald moet worden. Indien de reis die ter vervanging wordt aangeboden een lagere prijs heeft, zal Reisorganisator het verschil in prijs zo spoedig mogelijk terugbetalen;</li>
                            <li>ofwel de terugbetaling, zo spoedig mogelijk, van alle door hem op grond van het contract betaalde bedragen.</li>
                        </ol>
                        De reiziger kan eveneens, in voorkomend geval, aanspraak maken op een schadeloosstelling voor het niet-uitvoeren van het contract, tenzij:
                        <ol>
                            <li>Reisorganisator de reis annuleert omdat het minimum aantal reizigers, nodig voor de uitvoering van de reis (bijv. bus- en of appartementbezetting, enz.), niet werd bereikt en de reiziger binnen de in het contract vermelde termijn en ten minste zeven kalenderdagen v&oacute;&oacute;r de vertrekdatum hiervan op de hoogte werd gebracht;</li>
                            <li>de annulering het gevolg is van overmacht. Onder overmacht wordt verstaan abnormale en onvoorziene omstandigheden (o.a. overboeking door een agentschap en lawines) onafhankelijk van de wil van diegene die zich erop beroept en waarvan de gevolgen ondanks alle voorzorgsmaatregelen niet konden worden vermeden.</li>
                        </ol>
                    </p>

                    <p>
                        <b>Betaling</b><br>
                        Na ontvangst van de factuur/reserveringsbevestiging dient binnen 10 dagen minstens het voorschot (30% van de reissom, plus reserveringskosten en de premie voor annuleringsverzekering) onder vermelding van het factuurnummer voldaan te worden. Dit kan via iDEAL of via storting op het bankrekeningnummer <span class="nowrap">NL21 ABNA 0849 3066 71</span> t.n.v. Chalet.nl te Woerden. Uiterlijk 6 weken voor vertrek dient het restant van de reissom voldaan te worden. Wanneer u tussen 6 weken en 2 weken voor vertrek boekt, dient u het totale bedrag na ontvangst factuur in één keer binnen 5 werkdagen over te maken. Wanneer u binnen 2 weken voor vertrek boekt, dient u na ontvangst factuur per direct het totale bedrag d.m.v. een telefonische betaling of contante storting over te maken. Het geld of een bewijs van betaling moet altijd voor vertrek in ons bezit zijn. Eventuele bankkosten of wisselkoersen zijn voor rekening van de klant.
                    </p>

                    <p>
                        <b>Betalingsverzuim</b><br>
                        Indien niet aan de betalingsverplichting wordt voldaan kan de reis door reisorganisator geannuleerd worden en dienen de annuleringskosten te worden voldaan. U zal louter door het verstrijken van de vervaldag in gebreke zijn en zulks zonder dat enige aanmaning vereist is. Facturen die niet op of voor de vervaldag betaald werden, brengen van rechtswege en zonder verdere aanmaning een intrest op van 1% per verlopen of begonnen maand. Alleen al door het feit van betalingsverzuim op de vervaldag en zonder dat enige aanmaning vereist is, worden facturen met 15 % of met een minimum van Euro 25 per slaapplaats verhoogd. In geval van uitblijvende betaling zijn eventuele incasso en overige bijkomende kosten voor uw rekening.
                    </p>

                    <p>
                        <b>Annulering</b><br>
                        Reisorganisator accepteert uitsluitend annuleringen die aangetekend verstuurd zijn naar reisorganisator te Woerden. De datum van ontvangst geldt als annuleringsdatum. Bij verhindering mag iemand anders uw plaats innemen. Dit verzoek moet uiterlijk 7 dagen voor de dag van vertrek schriftelijk en samen met de annuleringmelding worden ingediend, waarbij diegene die in de plaats komt, alle verplichtingen overneemt waaronder ook het vermelden van zijn naam, adresgegevens en handtekening op het inschrijfformulier en het betalen van Euro 25 per persoon. In alle gevallen bent u reisorganisator, per geannuleerde reservering, de premie voor een eventuele annuleringsverzekering, de reserveringskosten en de volgende annuleringkosten verschuldigd:
                        <ul>
                            <li>Bij annulering tot 57 dagen voor vertrek: Euro 50 per slaapplaats met een minimum van 30% van de reissom</li>
                            <li>Bij annulering vanaf 56 tot 29 dagen voor vertrek: Euro 100 per slaapplaats met een minimum van 30% van de reissom</li>
                            <li>Bij annulering vanaf 28 tot 15 dagen voor vertrek: 50% van de reissom</li>
                            <li>Bij annulering van 14e dag tot de dag van vertrek of later: 100% van de reissom</li>
                        </ul>
                        Indien het om annulering van een arrangement gaat en de annuleringskosten bedragen minder dan 100% van de reissom van de deelnemer(s) welke annuleert, dan wordt de arrangementprijs van de overige deelnemers aangepast naar de dan geldende staffel.
                        Reisorganisator adviseert de reizigers bij het boeken een annuleringsverzekering af te sluiten om zich in te dekken tegen bovenvermelde annuleringskosten voor het geval u door onvoorziene omstandigheden moet annuleren.
                    </p>

                    <p>
                        Het is mogelijk om via Reisorganisator een reis- en annuleringsverzekering af te sluiten bij aangegeven verzekeraar. Reisorganisator treedt op als wederverkoper en is niet verantwoordelijk voor de prestaties welke door verzekeraar geleverd worden. Reiziger verklaart zich akkoord met de door verzekeraar gesteld voorwaarden.
                        Reiziger zal zich in geval van schade binnen de in de voorwaarden gestelde termijn wenden tot reisorganisator, welke zal bemiddelen bij eventuele aanspraken tot vergoeding.

                        {% if website.country() == constant('WEBSITE_COUNTRY_NL', website) %}

                            <a name="sgr"></a>
                            <p>
                                <b>Stichting Garantiefonds Reisgelden</b><br><img src="pic/sgr.gif" width="50" height="45" alt="Stichting Garantiefonds Reisgelden" align="right">
                                Reisorganisator is aangesloten bij de <a href="http://www.sgr.nl/" target="_blank">SGR</a>. Binnen de grenzen van de SGR-garantieregeling vallen de in dit programma gepubliceerde reizen onder de garantie van SGR. De SGR-garantie is alleen van toepassing op in Nederland woonachtige reizigers, en houdt in dat de consument ervan verzekerd is zijn vooruitbetaalde reisgeld terug te krijgen, als de wederpartij door financieel onvermogen de overeengekomen tegenprestatie niet kan nakomen. Voor zover de overeenkomst mede het vervoer omvat en de plaats van bestemming reeds is bereikt, wordt zorggedragen voor de terugreis.
                            </p>

                        {% endif %}

                        <p>
                            <b>Aansprakelijkheid van de reiziger</b><br>
                            Voor schade en letsel berokkend aan reizigers door welke oorzaak dan ook, alsmede voor verlies, diefstal of beschadiging van bagage, eigendommen, geld inbegrepen, aanvaardt reisorganisator geen aansprakelijkheid. Dit is voor eigen risico. Reisorganisator adviseert u daarom een reisverzekering af te sluiten.
                            Tevens is de reiziger aansprakelijk voor de schade die reisorganisator, haar personeel of vertegenwoordigers, vervoersmiddel, accommodatie of optie/arrangementsonderdeel door zijn/haar fout oplopen, alsook wanneer de reiziger zijn contractuele verplichtingen niet is nagekomen. Schade door de reiziger veroorzaakt, wordt met de borg verrekend. Indien het bedrag van de schade de borg overtreft moet de reiziger ter plaatse het verschuldigde bedrag betalen. Reiziger is verplicht om over een in Nederland gangbare aansprakelijkheidsverzekering te beschikken.
                            Bij onbetamelijk gedrag van de reiziger (openbare dronkenschap, geluidsoverlast na 22.00 uur, vernielingen etc.) kan reisorganisator het reiscontract onmiddellijk verbreken en/of boetes voor het onbetamelijk bedrag berekenen, zonder dat de hoofdboeker aanspraak kan maken op restitutie van de reissom.
                        </p>

                        <p>
                            <b>Aansprakelijkheid van reisorganisator</b><br>
                            Reisorganisator is aansprakelijk voor de goede uitvoering van het contract, overeenkomstig de verwachtingen die de reiziger op grond van de bepalingen van het contract tot de reisorganisatie redelijkerwijs mag hebben, en voor de uit het contract voortvloeiende verplichtingen, ongeacht of deze verplichtingen zijn uit te voeren door hemzelf dan wel door andere verstrekkers van diensten en zulks onverminderd het recht van de reisorganisator om deze andere verstrekkers van diensten aan te spreken.
                            Reisorganisator accepteert geen aansprakelijkheid voor schade waarvoor reiziger een beroep kan doen op een reis- en/of annuleringsverzekering. Reiziger accepteert dat hij boekt onder de voorwaarde dat hij Reisorganisator maximaal aansprakelijk stelt voor schade en vergoeding van derving van reisgenot samen beperkt tot maximaal 100% van de reissom.
                        </p>

                        <p>

                        {% if website.get() == constant('WEBSITE_VENTURASOL_NL', website) %}
                    	    <i>Versie 01/08/2014</i>
                        {% else %}
                            <i>Versie 01/08/2014</i>
                        {% endif %}

                {% endif %}

            </div>

        </div>

    </section>

{% endblock %}