{% extends 'layouts/default.html.twig' %}

{% block body %}
    
    {% set test_me = {name: 'test'} %}
    
    {{ parent() }}
    
    <h2>Places#show</h2>
    <a href="{{ locale_path('place') }}">Show</a>
    
{% endblock %}