<div id="search-filters-active">
    <div class="">Land: Zwitserland<a href="#"><i class="fi-x"></i></a></div>
    <div class="">Aantal kamers: 6 kamers<a href="#"><i class="fi-x"></i></a></div>
    <div class="">Aantal badkamers: 3 badkamers<a href="#"><i class="fi-x"></i></a></div>
    <div class="">Afstand tot piste: aan de piste<a href="#"><i class="fi-x"></i></a></div>
    <div class="">Accommodatie: goed voor kids<a href="#"><i class="fi-x"></i></a></div>
    <div class="">Accommodatie: internet / wifi<a href="#"><i class="fi-x"></i></a></div>
    <div class=""><a href="#">Wis alle filters <i class="fi-trash"></i></a></div>
</div>