<div id="search-filters-active">
    
    {% for tag, data in tags %}

        {% if tag is constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_DISTANCE') %}
            
            <div>
                Afstand tot piste:
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_DISTANCE_BY_SLOPE') %}aan de piste{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_DISTANCE_MAX_250') %}max. 250 meter{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_DISTANCE_MAX_500') %}max. 500 meter{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_DISTANCE_MAX_1000') %}max. 1000 meter{% endif %}
                <a href="#"><i class="fi-x"></i></a>
            </div>
            
        {% endif %}
        
        {% if tag is constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_LENGTH') %}
            
            <div>
                Aantal km pistes:
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_LENGTH_MAX_100') %}tot 100 km{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_LENGTH_MIN_100') %}100 km en meer{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_LENGTH_MIN_200') %}200 km en meer{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_LENGTH_MIN_400') %}400 km en meer{% endif %}
                <a href="#"><i class="fi-x"></i></a>
            </div>
            
        {% endif %}
        
        {% if tag is constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY') %}
            
            {% for facility in data %}
            
                <div>
                    Faciliteit: 
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_CATERING') %}catering mogelijk{% endif %}
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_INTERNET_WIFI') %}internet / wifi{% endif %}
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_SWIMMING_POOL') %}zwembad{% endif %}
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_SAUNA') %}sauna{% endif %}
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_PRIVATE_SAUNA') %}priv&eacute;-sauna{% endif %}
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_PETS_ALLOWED') %}huisdieren toegestaan{% endif %}
                    {% if facility == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_FACILITY_FIREPLACE') %}openhaard / houtkachel{% endif %}
                    <a href="#"><i class="fi-x"></i></a>
                </div>
                
            {% endfor %}
            
        {% endif %}
        
        {% if tag is constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM') %}
            
            <div>
                Aantal badkamers:
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM_MIN_2') %}minimaal 2{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM_MIN_3') %}minimaal 3{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM_MIN_4') %}minimaal 4{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM_MIN_6') %}minimaal 6{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM_MIN_8') %}minimaal 8{% endif %}
                {% if data == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_BATHROOM_MIN_10') %}minimaal 10{% endif %}
                <a href="#"><i class="fi-x"></i></a>
            </div>
            
        {% endif %}
        
        {% if tag is constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_THEME') %}
            
            {% for theme in data %}
            
                <div>
                    Thema:
                    {% if theme == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_THEME_KIDS') %}goed voor kids{% endif %}
                    {% if theme == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_THEME_CHARMING_PLACES') %}charmante skidorpen{% endif %}
                    {% if theme == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_THEME_10_FOR_APRES_SKI') %}10 voor apr&eacute;s-ski{% endif %}
                    {% if theme == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_THEME_SUPER_SKI_STATIONS') %}super ski-stations{% endif %}
                    {% if theme == constant('AppBundle\\Service\\Api\\Search\\FilterBuilder::FILTER_THEME_WINTER_WELLNESS') %}winter-wellness{% endif %}
                    <a href="#"><i class="fi-x"></i></a>
                </div>
            
            {% endfor %}
            
        {% endif %}

    {% endfor %}
    
    <div class=""><a href="#">Wis alle filters <i class="fi-trash"></i></a></div>
</div>