<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th><span>Per</span>sonen</th>
                <th><span>Slaap</span>kamers</th>
                <th><span>Bad</span>kamers</th>
                <th>Type</th>
                <th>Beoordeling</th>
                <th>&nbsp;</th>
                <th><span>Prijs accom</span>modatie</th>
            </tr>
        </thead>
        <tbody>
            <tr class="sale-type"><!-- notice this row is in discount -->
                <td><i class="sprite sprite-icon-torso"></i>6</td>
                <td><i class="sprite sprite-icon-sleep"></i>4</td>
                <td><i class="sprite sprite-icon-bath"></i>2</td>
                <td>Type 1a</td>
                <td><span>8,5</span></td>
                <td><i class="sprite sprite-icon-discount"></i></td>
                <td>&euro; 295,-<i class="fi-info"></i></td>
            </tr>
            <tr>
                <td><i class="sprite sprite-icon-torso"></i>8-10</td>
                <td><i class="sprite sprite-icon-sleep"></i>4</td>
                <td><i class="sprite sprite-icon-bath"></i>2</td>
                <td>Type 1</td>
                <td><span>7,5</span></td>
                <td>&nbsp;</td>
                <td>&euro; 270,-<i class="fi-info"></i></td>
            </tr>
            <tr class="sale-type"><!-- notice this row is in discount -->
                <td><i class="sprite sprite-icon-torso"></i>11-12</td>
                <td><i class="sprite sprite-icon-sleep"></i>6</td>
                <td><i class="sprite sprite-icon-bath"></i>3</td>
                <td>Type 3, met sauna</td>
                <td><span>9,2</span></td>
                <td><i class="sprite sprite-icon-discount"></i></td>
                <td>&euro; 290,-<i class="fi-info"></i></td>
            </tr>
            <tr class="sale-type"><!-- notice this row is in discount -->
                <td><i class="sprite sprite-icon-torso"></i>12</td>
                <td><i class="sprite sprite-icon-sleep"></i>6</td>
                <td><i class="sprite sprite-icon-bath"></i>3</td>
                <td>Type 3</td>
                <td><span>9,1</span></td>
                <td><i class="sprite sprite-icon-discount"></i></td>
                <td>&euro; 320,-<i class="fi-info"></i></td>
            </tr>
            <tr>
                <td><i class="sprite sprite-icon-torso"></i>16-18</td>
                <td><i class="sprite sprite-icon-sleep"></i>7</td>
                <td><i class="sprite sprite-icon-bath"></i>5</td>
                <td>Type 4</td>
                <td><span>8,1</span></td>
                <td>&nbsp;</td>
                <td>&euro; 265,-<i class="fi-info"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="table-explain">
        <p>
            <span>U kunt deze tabel horizontaal scrollen</span>
            <i class="sprite sprite-cursor-explain"></i>
            <a href="" class="button tiny radius">ik heb het begrepen</a>
        </p>
    </div>
</div>