{% set locale = get_locale() %}
<div class="table-wrapper">

    <div class="table-heading">
        <div class="table-cell table-heading-1">Personen</div>
        <div class="table-cell table-heading-2">Slaapkamers</div>
        <div class="table-cell table-heading-3">Badkamers</div>
        <div class="table-cell table-heading-4">Type</div>
        <div class="table-cell table-heading-5">Beoordeling</div>
        <div class="table-cell table-heading-6">&nbsp;</div>
        <div class="table-cell table-heading-7">Prijs accommodatie</div>
    </div>

    {% for type in types %}
    <div class="table-row">
        <div class="table-cell table-cell-1">
            <i class="sprite sprite-icon-torso"></i>
            {{ ( type.getOptimalResidents() == type.getMaxResidents() ? type.getOptimalResidents() : (type.getOptimalResidents() ~ ' - ' ~ type.getMaxResidents()) ) }}
        </div>
        <div class="table-cell">
            <i class="sprite sprite-icon-sleep"></i>
            {{ type.getBedrooms() }}
        </div>
        <div class="table-cell">
            <i class="sprite sprite-icon-bath"></i>
            {{ type.getBathrooms() }}
        </div>
        <div class="table-cell">
            {{ type.getLocaleName(locale) }}
        </div>
        <div class="table-cell"><span>8,5</span></div>
        <div class="table-cell table-cell-6"><i class="sprite sprite-icon-discount"></i></div>
        <div class="table-cell table-cell-7">&euro; 295,-<i class="fi-info"></i></div>
    </div>
    {% endfor %}
    <div class="table-explain">
        <p>
            <span>U kunt deze tabel horizontaal scrollen</span>
            <i class="sprite sprite-cursor-explain"></i>
            <a href="" class="button tiny radius">ik heb het begrepen</a>
        </p>
    </div>
</div>