{% set locale = get_locale() %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th><span>Per</span>sonen</th>
                <th><span>Slaap</span>kamers</th>
                <th><span>Bad</span>kamers</th>
                <th>Type</th>
                <th>Beoordeling</th>
                <th>&nbsp;</th>
                <th><span>Prijs accom</span>modatie</th>
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
            <tr class="sale-type"><!-- notice this row is in discount -->
                <td>
                    <i class="sprite sprite-icon-torso"></i>
                    {{ ( type.getOptimalResidents() == type.getMaxResidents() ? type.getOptimalResidents() : (type.getOptimalResidents() ~ ' - ' ~ type.getMaxResidents()) ) }}
                </td>
                <td><i class="sprite sprite-icon-sleep"></i>{{ type.getBedrooms() }}</td>
                <td><i class="sprite sprite-icon-bath"></i>{{ type.getBathrooms() }}</td>
                <td>{{ type.getLocaleName(locale) }}</td>
                <td><span>8,5</span></td>
                <td><i class="sprite sprite-icon-discount"></i></td>
                <td>&euro; 295,-<i class="fi-info"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="table-explain">
        <p>
            <span>U kunt deze tabel horizontaal scrollen</span>
            <i class="sprite sprite-cursor-explain"></i>
            <a href="" class="button tiny radius">ik heb het begrepen</a>
        </p>
    </div>
</div>