<p>Hieronder vind je een prijsberekening zoals je die via onze website hebt samengesteld. Klik op de link onderaan het mailtje om deze accommodatie te boeken.</p>
<p>
	Met vriendelijke groet,
	<br />
	Medewerkers Chalet.nl
	<br />
	Tel: +31 (0)348 - 43 46 49
</p>
{{ table|raw }}