<!-- content -->
<section id="results-selected">
    <div class="row">
        <div class="large-12 columns">
            <h2>Hoogtepunten uit ons aanbod</h2>
        </div>
    </div>
    <div class="row" data-equalizer><!-- each row contains 3 accom -->
        {% for i in 1..6 %}
            {% include 'partials/highlight.html.twig' only %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="large-12 centered columns">
            <a href="zoekboek.html" class="button small radius" title="Bekijk het gehele aanbod">Bekijk het gehele aanbod</a>
        </div>
    </div>
</section>