/**
 * This file contains custom modifications to the design deliverd by BuroDMG
 *
 * @updated_at 2015-03-09 10:40
 * @version    1.0.0
 */

/**
 * @since 1.0.0
 */
@media only screen and (min-width: 40em) {

    body#home.smallfix {

        div#row-top {
            min-height: 64px;
        }

        div#column-logo img {
            width: 65px;
        }

        div#column-contact div {
            padding-top: 0.4rem;
        }

        div #column-dropdown button {
            padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        }
    }
}

@media only screen and (min-width: 40rem) and (max-width: 64rem) {
    
    body#home.smallfix {
        
        div#column-dropdown button {
            margin-top:0.5rem;
            padding: 0.5rem 0.5rem 0.5rem 0.7rem;
        }
    }
}

/**
 * This fixes the max font size problem
 */
@media (min-width: 1300px) {
    
    #home header #header-usp .title-usp {
        font-size: 96px;
    }

    #home header #header-usp .title-usp span {
        font-size: 2.4rem;
    }
}