
@import "globals.scss";

.faq_vraag {
	margin: 0 0 0.8em 0;
	display: block;
	background-color: #d5e1f9;
	color: #003366;
	font-size: 1.1em;
	padding: 5px;
}

.faq_vraag:hover {
	background-color: #003366;
	color: #ffffff;
	cursor: pointer;
}

.faq_antwoord {
	display: none;

	div {
		margin: 0 0 35px 0;
	}
}

.faq_eindtekst {
	font-weight: bold;
}
