/**
 * This file contains global SASS variables and imports the mixins file
 */

// import mixins
@import "mixins.scss";


$link-color: #07c;
$header-link-color: #193761;
$header-border-color: #193761;
$menu-bg-color: rgba(213,225,249,0.91);
$menu-bg-gradient-start: #E8D5E1F9;
$menu-bg-gradient-end: #E8D5E1F9;
$menu-hover-border-color: #193761;
$menu-link-color: #193761;
$ratings-bg-color: #193761;
$ratings-color: #fff;
$ratings-color-hover: #000;
$seen-and-saved-border-color: #818181;
$seen-and-saved-color: #818181;
$sidebar-block-bg-color: #193761;
$sidebar-block-color: #fff;
$sidebar-block-hover-bg-color: #224882;
$sidebar-block-hover-color: #FFFFFF;
