/* smaller header when scrolling */

body.smaller {

    .header-block-wrapper {
        box-shadow: 0 1px 3px $header-border-color;
    }

    .header-block {

        height: 51px;

        .logo {

            margin-top: 0.1rem;
            height: 50px;
        }

        ul.contact-info {

            padding-top: 0;
            margin-bottom: 0;
        }

        .zoover-awards {

            margin: -0.2rem 0 0.5rem 0;
            width: 172px;
            height: 8px;
        }

        .lists-container {

            padding-top: 6px;

            button#dropdown-saved {

                padding: 0.4rem 0.2rem 0.4rem 1rem;
                font-size: 0.8rem;
            }
        }
    }
}