/* responsive header */

/** tablet changes */
@media only screen and (min-width: 40em) and (max-width: 64em) {

    .header-block {

        ul.contact-info li {
            font-size: 0.9rem;
        }

        .lists-container#dropdown-container {

            padding-top: 0.3rem;

            button {

                font-size: 0.7rem;
                padding: 0.6rem;
            }
        }

        .zoover-awards {
            margin: 0 0 0.5rem 0;
        }

        .logo-and-contact-info {
            padding-left: 175px;
        }
    }

    .menu-block {

        ul.main-menu li {
            margin-left: 17px;
            font-size: 0.9rem;
        }

        .nav-holder {
            padding-left: 175px;
        }
    }
}

/** phone changes */
@media (max-width: 40em) {

    ul.contact-info {

        padding-top: 1.5rem;
    }

    .header-block {

        .logo {

            width: 135px;
            height: 141px;
        }

        .contact-block {
            padding-left: 0;
            padding-right: 0;

        }
    }
}