
@import "globals.less";

div.search-filter-box {
    div.styled_label:hover {

        :not(.c_on) {
            text-decoration: underline;
        }

        .c_on {
            text-decoration: line-through;
        }
    }
}

#search-filter-results {

    .fields {
        padding: 0;
    }

}

// non-mobile: remove negative margin accommodation-block
@media only screen and (min-width: 40em) {

    #search-filter-results {

        #search-results {
            .row {
                .overview {
                    .row {
                        margin-left: 0;
                        margin-right: 0;

                        &:hover {
                            img {
                                opacity: .8 !important;
                            }
                        }
                    }
                }
            }

            .img-column {
                padding-left: 0;
            }

            .accom-desc-column {
                padding-right: 0;
            }
        }
    }
}

.msg-search-without-date {
    margin: -1rem 0 1rem 0;
    font-size: 0.8rem;
    padding: 0 5px;
    color: #777;
}

.breadcrumbs {
    a {
        color: @link-color !important;
    }
}


