
div.search-filter-box div.styled_label:hover {
    text-decoration: underline;
}

#search-filter-results .fields {
    padding: 0;
}

.msg-search-without-date {
    margin: -1rem 0 1rem 0;
    font-size: 0.8rem;
    padding: 0 5px;
    color: #777;
}
