
@import "globals.scss";

// types-rows
div.tb {

    display: table;
    width: 100%;
    margin-bottom: 0.25rem;


    div.tb-c {
        display: table-cell;
    }

    div.tb-h {

        display: table-row;

        div.tb-c {

            vertical-align: bottom;
            padding: 0.5rem 0.625rem 0.625rem;
            border-bottom: thin solid #bfbfbf;
            color: #193761;
            font-size: 0.9rem;
            font-weight: initial;
        }

        div.tb-h-1 { min-width: 96px; max-width: 110px; }
        div.tb-h-2 { max-width: 105px; }
        div.tb-h-3 { max-width: 94px; }
        div.tb-h-4 { width: 100%; }
        div.tb-h-5 { min-width: 100px; max-width: 100px; }
        div.tb-h-6 {  }
        div.tb-h-7 { min-width: 105px; max-width: 150px; padding-left: 5px; }
    }

    a.tb-r {

        display: table-row;
        text-decoration: none !important;

        div.tb-c {

            text-align: left;
            border-bottom: thin solid #bfbfbf;
            color: #818181;
            padding: 0.5625rem 0.625rem;

            &.tb-c-1 { padding-left: 0.625rem; }
            &.tb-c-6 { text-align: center; }
            &.tb-c-7 {

                color: #193761;
                text-align: right;
                font-size: 1rem;

                span.table-price {
                    font-weight: 700;
                }

                i {
                    float: right;
                    margin: 0 0 0 0.5rem;
                }
            }

            span.table-price {

                background-color: #e9edf8;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                font-size: 0.96rem;
                margin-right: 0.5rem;
                padding: 0.2rem;
            }

            span.table-ratings {

                background-color: $ratings-bg-color;
                color: $ratings-color;
            }
        }

        &:nth-child(odd) {
            background: #F9F9F9;
        }

        &:hover {

            background-color: #e9edf8;

            div.tb-c span.table-price {

                background-color: white;

                &.table-ratings {
                    color: $ratings-color-hover;
                }
            }
        }

        &.sale-type {

            div.tb-c.tb-c-7 {

                color: #d4213b;

                span.table-price { color: #d4213b; }
            }
        }
    }
}

// Scroll suggestion
.table-explain {
    margin-top: 0.25rem;
}

div.search-filter-box {
    div.styled_label:hover {

        :not(.c_on) {
            text-decoration: underline;
        }

        .c_on {
            text-decoration: line-through;
        }
    }
}

#search-filter-results {

    .fields {
        padding: 0;
    }

    #search-results {

        .discount-cell {
            padding: 0;
            vertical-align: middle;

            @media only screen and (max-width: 40em) {
                vertical-align: baseline;

                i.sprite-icon-discount {
                    margin-top: -2px;
                }
            }
        }

        .price-cell {
            padding-left: 5px;
        }

        .price-inc {
            .sprite-icon-skipass {
                margin-bottom: -2px;
            }
        }
    }
}

// non-mobile: remove negative margin accommodation-block
@media only screen and (min-width: 40em) {

    #search-filter-results {

        #search-results {
            .row {
                .overview {
                    .row {
                        margin-left: 0;
                        margin-right: 0;

                        &:hover {
                            img {
                                opacity: .8 !important;
                            }
                        }
                    }
                }
            }

            .img-column {
                padding-left: 0;
            }

            .accom-desc-column {
                padding-right: 0;
            }
        }
    }
}

.msg-search-without-date {
    margin: -1rem 0 1rem 0;
    font-size: 0.8rem;
    padding: 0 5px;
    color: #777;
}

.breadcrumbs {
    a {
        color: $link-color !important;
    }
}
