<strong>Schade Logies Verblijven</strong>
<p>Deze verzekering dekt de schade, wanneer je tijdens je verblijf per ongeluk iets beschadigt in het chalet, hotel of appartement. Dit geldt voor een bedrag vanaf &euro; 25,00 tot maximaal &euro; 2.500,00 per verblijf. De premie voor deze verzekering is: 1,5% van de accommodatieprijs (+ 21% assurantiebelasting = 1,82%).</p>

{% if insurances is not defined %}
    <p>Wanneer je &eacute;&eacute;n of meerdere verzekering(en) via ons afsluit wordt er &eacute;&eacute;nmalig &euro; 3,75 poliskosten in rekening gebracht.</p>
{% endif %}

<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src="pic/pdflogo.gif" width="18" height="18" border="0" />
        </td>
        <td>
            <a href="pdf/voorwaarden_schadeverz.pdf" target="_blank">Voorwaarden Europeesche Verzekeringen Schade Logies Verblijven</a>
        </td>
    </tr>
</table>