{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}
    
    {{ parent() }}

    <h2>Pages#faq</h2>
    <p>This is a template for the Page#faq action</p>
    
{% endblock %}