{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}
    
    {{ parent() }}
    
    <h2>Pages#privacy</h2>
    <p>This is a template for the Page#privacy action</p>
    
{% endblock %}