{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}
    
    {{ parent() }}

    <section id="search-filter-results">
        <div class="row">
            <div id="search-results">
                <div id="search-filters-active">
                    <table>
                        <tr>
                            <th>Zoekopdrachten</th>
                            <th>Zoekresultaten</th>
                        </tr>
                        {% for terms in searches %}
                        <tr>
                            <td>
                                {% for term in terms %}
                                <div>
                                    {{ term }}
                                </div>
                                {% endfor %}
                            </td>
                            <td><a href="#">test</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div></div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock body %}