{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{
        breadcrumbs()
    }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <!-- content -->
    <section id="area-selected" class="place-page">

        <div class="row" id="area-specs">

            <h1>{{ 'viewed-title'|trans }}</h1>

        </div>

        <div class="row" data-equalizer>

            {% for type in types %}

                {% set type_surveys = [] %}
                {% if surveys[type.type_id] is defined %}
                    {% set type_surveys = [] %}
                {% endif %}

                {% include 'partials/highlight/highlight.html.twig' with { 'highlight': type, 'end': ( ((loop.index % 3) is same as(0)) or loop.last ), 'offers': offers, 'surveys': type_surveys } only %}

            {% endfor %}

        </div>

    </section>

{% endblock %}