{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section class="landing landing-page">

        <div class="row">

            <div class="large-8 medium-8 columns">

                <p><strong>Ben jij op zoek naar een inspirerende baan of stage bij een middelgrote, snel groeiende touroperator, specialist in wintersportvakanties en vakantiehuizen in Itali&euml;? Dan ben je bij ons aan het juiste adres!</strong></p>

                <p>Chalet.nl vakantiewoningen is per direct op zoek naar:</p>
                <ul>
                	<li><a href="#koks">Creatieve koks / Chaletstaf</a>
                	<li><a href="#stageproductmanagement">Stage productmanagement</a>
                	<li><a href="#stagemarketing">Stage marketing voor communicatiefreak</a>
                </ul>

                <hr />

                <a class="anchorfix" id="koks"></a>
                <div class="center">Wij zijn op zoek naar:</div>
                <h2 class="center">Creatieve koks / Chaletstaf</h2>

                <p>Vind je koken leuk en komen vrienden graag bij je eten? Verslind je alle kookboeken en volg je de trends? Dan nodigen we je graag uit om een winterseizoen voor ons te komen werken in de Franse Alpen!</p>

                <p><strong>Wat kun je verwachten?</strong></p>
                <p>Iedere week een nieuwe groep gasten in het chalet die vertrouwt op jouw kookkunsten. Ook ben je verantwoordelijk voor het ontbijt, de schoonmaak, de inkoop en het geven van praktische dan wel toeristische informatie.</p>

                <p>Wij bieden je begeleiding in het hele traject om ervoor te zorgen dat de kwaliteit die wij zo belangrijk vinden gewaarborgd wordt. De werkzaamheden starten met een training om je perfect voor te bereiden op het winterseizoen.</p>
                <p>Deze afwisselende en veelzijdige functie geeft je de gelegenheid om een hele winter door te brengen in de besneeuwde bergen, en daar volop van te genieten.</p>
                <p>We zoeken enthousiaste mensen die in hun eentje of met z&rsquo;n twee&euml;n een chalet willen runnen. Je verblijft van half december tot maximaal eind april in Frankrijk. Je verblijft in een appartement en krijgt een skipas en een vergoeding.</p>

                <p><strong>Goede redenen om te solliciteren:</strong></p>
                <ul>
                    <li>Je kan goed koken, als hobbykok of als professional</li>
                    <li>Je bent dienstverlenend en hebt een hoog servicegevoel</li>
                    <li>Je hebt verantwoordelijkheidsgevoel</li>
                    <li>Je bent flexibel</li>
                    <li>Je hebt kennis van de Franse taal (pr&eacute;)</li>
                    <li>Je bent in het bezit van een auto (pr&eacute;)</li>
                </ul>

                <p>Interesse? Vraag een informatiepakketje aan via <a href="mailto:catering@chalet.nl">catering@chalet.nl</a> met een uitgebreidere omschrijving van de functie en een sollicitatieformulier.</p>

                <hr />

                <a class="anchorfix" id="stageproductmanagement"></a>
                <h2 class="center">Stage productmanagement</h2>

                <p><strong>CHALET.NL vakantiewoningen</strong> zoekt een enthousiaste stagiair voor de afdeling Productmanagement. De werkzaamheden bestaan o.a. uit:</p>
        		<ul>
            		<li>Teksten schrijven en beeldmateriaal selecteren voor online presentatie van ons aanbod</li>
            		<li>Het maken van (concurrentie) analyses van ons product</li>
            		<li>Beschikbaarheid van ons aanbod waarborgen</li>
            		<li>Ondersteuning geven aan afdeling marketing</li>
        		</ul>

            	<p><b><i>JIJ</i></b> bent op zoek naar een interessante stage op het gebied van productmanagement en voldoet aan onderstaand profiel:
            	<ul>
            		<li>Je werkt nauwkeurig en hebt een groot verantwoordelijkheidsgevoel</li>
            		<li>Wij geven goede begeleiding, maar wensen ook zeker eigen initiatieven</li>
            		<li>Naast inzicht in de eigen afdeling maak je ook graag kennis met andere werkzaamheden binnen het bedrijf</li>
            		<li>Goede kennis van Engels en eventueel Duits is een pr&eacute;</li>
            		<li>Je bent minimaal 20 weken beschikbaar</li>
            		<li>Je ontvangt een passende stagevergoeding</li>
            	</ul>

                <p>Deze stage kan tevens gecombineerd worden met de <a href="#stagemarketing">openstaande stage-vacature</a> voor de afdeling Marketing.</p>
            	<p>Ons kantoor ligt centraal in Nederland op ca. 3 minuten van de snelweg A12 en 15 minuten loopafstand van het station in Woerden (directe verbindingen met o.a. Amsterdam, Den Haag, Rotterdam, Utrecht).</p>
                <p>Stuur je motivatiebrief en cv naar: <a href="mailto:jetske@chalet.nl">jetske@chalet.nl</a></p>

                <hr />

                <a class="anchorfix" id="stagemarketing"></a>
                <h2 class="center">Stage marketing voor communicatiefreak</h2>

                <p><strong>CHALET.NL vakantiewoningen</strong> zoekt een enthousiaste stagiair voor de afdeling marketing. Onze voorkeur gaat uit naar iemand die mee wil werken aan onze verschillende marketing activiteiten, zowel online als offline, en zich wil focussen op (marketing)communicatie middels het schrijven van teksten. Dit varieert van commercieel tot beschrijvend, voor verschillende communicatiemiddelen zoals:</p>
                <ul>
                	<li>social media</li>
                	<li>blogs</li>
                	<li>nieuwsbrieven</li>
                	<li>persberichten</li>
                	<li>webteksten</li>
                </ul>

                <p><strong><i>JIJ</i></strong> bent op zoek naar een interessante stage op het gebied van marketing en communicatie en voldoet aan onderstaand profiel:</p>
                <ul>
                	<li>Je werkt nauwkeurig en hebt een groot verantwoordelijkheidsgevoel</li>
                	<li>Wij geven goede begeleiding, maar wensen ook zeker eigen initiatieven</li>
                	<li>Naast inzicht in de eigen afdeling maak je ook graag kennis met andere werkzaamheden binnen het bedrijf</li>
                	<li>Goede kennis van Nederlandse en Engelse taal is een must (Duits is een pr&eacute;)</li>
                	<li>Je bent minimaal 20 weken beschikbaar</li>
                	<li>Je ontvangt een passende stagevergoeding</li>
                </ul>

                <p>Deze stage kan tevens gecombineerd worden met de <a href="#stageproductmanagement">openstaande stage-vacature</a> voor de afdeling Productmanagement.</p>
                <p>Ons kantoor ligt centraal in Nederland op ca. 3 minuten van de snelweg A12 en 15 minuten loopafstand van het station in Woerden (directe verbindingen met o.a. Amsterdam, Den Haag, Rotterdam, Utrecht).</p>

                <p>Stuur je motivatiebrief en cv naar: <a href="mailto:jetske@chalet.nl">jetske@chalet.nl</a></p>

                <hr />

                <p><i>Acquisitie wordt niet op prijs gesteld.</i></p>

            </div>

        </div>

    </section>

{% endblock body %}