{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section id="search-filter-results">
        <div class="row">
            {% include 'partials/search/form.html.twig' %}
            <div id="search-results" class="small-12 medium-8 large-9 columns">
                {% include 'search/results.html.twig' %}
            </div>
        </div>
    </section>

{% endblock %}