{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% block body %}

    {{ parent() }}

    <section id="search-filter-results">
        <div class="row">
            {% include 'search/results.html.twig' %}
        </div>
    </section>

{% endblock %}