{% extends 'layouts/default.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs() }}
{% endblock %}

{% set website_concern = website() %}

{% block title %}Zoek en boek - {{ website_concern.name() }}{% endblock title %}

{% block seo %}

    {% include 'layouts/seo-block.html.twig' with {

        'meta_description': 'Zoek en boek',
        'meta_title':       'Zoek en boek - ' ~ website_concern.name()

    } %}

{% endblock seo %}

{% block body %}

    {{ parent() }}

    <section id="search-filter-results">
        <div class="row">
            {% include 'search/results.html.twig' %}
        </div>
    </section>

{% endblock %}